[2021-08-28 02:25] manuel489 commented on #257
@ronaldtse,
*community-practice* template hasn't been created yet because there is no document sample to do so.
There is a ticket that has been on hold since while: https://github.com/metanorma/mn-templates-ogc/issues/13

[2021-08-28 09:48] ronaldtse commented on #257
@ghobona, would you be able to provide us with a `community-practice` sample structure? Currently the template doesn't exist because back then we did not have a sample. (From 2020 Jan: metanorma/mn-templates-ogc#13)

[2021-08-28 13:32] opoudjis commented on #256
Well, I have just introduced a notion of alternative title for sections, to be used in ToC: https://www.metanorma.org/author/topics/document-format/xrefs/#variant-titles . I'll proceed to expand that to subtitles. So:

[code]

I'm going to render these by default in HTML with a line break. @Intelligent2013, if there are going to be  alternative designation requirements for you, that's going to be

[2021-08-28 14:22] manuel489 commented on #240
@opoudjis, the issue seems to be solved already. (I can't reproduce it.)

[2021-08-28 14:22] opoudjis opened #259 "variant titles in PDF"
Follow-on from https://github.com/metanorma/metanorma-ogc/issues/256

If you see any instance of `<variant-title type="sub">...</variant-title>` in Presentation XML, that is a subtitle of a clause; that can include annexes, and it applies to all of Metanorma.

In HTML and Word, I am treating variant titles as part of the header tag, separated by the main title by two break-lines.

[2021-08-28 14:23] #240 closed

[2021-08-28 15:16] opoudjis commented on #250
The valign value, in turn, is being inherited from asciidoc, which defaults it to top; we have no straightforward way of determining whether the user has set valign to top explicitly, or has just left it unspecified:

https://github.com/asciidoctor/asciidoctor/blob/ff559f8dcb69642053ab5425d40a57ade197a836/lib/asciidoctor/table.rb#L190

FWIW, ITU have decided to have valign = top: https://github.co

[2021-08-28 16:54] Intelligent2013 commented on #259
All XSLTs updated.

Example
XML:
[code]
rendered in PDF:
![image](https://user-images.githubusercontent.com/5559926/131224809-aedc08f8-b738-415c-8c25-48c468d29c1d.png)

[2021-08-28 16:54] #259 closed

[2021-08-29 08:06] ronaldtse commented on #250
Confirmed.

[2021-08-29 08:07] ronaldtse commented on #256
@opoudjis just a reminder that there can be multiple `alt:[]` terms. An alternative term is different from a `variant-title`.

[2021-08-29 08:15] ronaldtse commented on #253
Thanks!

[2021-08-29 08:15] ronaldtse commented on #240
Thanks!

[2021-08-29 13:47] #250 closed

[2021-08-30 10:16] opoudjis commented on #256
Oh. I didn't understand that at all. Sigh.

OK, reopening.

[2021-08-31 11:38] #247 closed

[2021-08-31 13:36] opoudjis commented on #249
Extend requirement dl syntax to model, obligation, type (attributes in XML).

[2021-08-31 14:15] opoudjis commented on #258
Error already resolved in https://github.com/metanorma/metanorma-standoc/commit/dba32c08bd873de215a48a9ad9172ed2bf833c7b#diff-af345eab25eeccd75e5fc06b57f4454ab32921d3127ca517d069172c11ada5dd

[2021-08-31 14:15] #258 closed

[2021-08-31 14:21] opoudjis commented on #249
To get this to work, you will need to pull branch fix/reqt-dl-attrs  from metanorma-ogc and the latest standoc from github.

[2021-08-31 14:44] opoudjis commented on #234
Nothing further, closing. The abort execution was in fact implemented for ISO explicitly, to block further parsing—because of the acute risk of confusion that markup introduces: https://github.com/metanorma/metanorma-iso/issues/470. I do not agree that the document should parse regardless: the document will have been structured around numeric cross-references, and they should not just be silently

[2021-08-31 14:44] #234 closed

[2021-08-31 14:55] opoudjis commented on #256
OK, so... how is this not addressed by the existing markup?

[code]

That generates, correctly, the following Presentation XML:

[code]

How the admitted term is then rendered is up to the renderer; there is no reason at all why it can't be rendered with an "admitted" tag, as is done elsewhere. What am I missing?

[2021-08-31 18:49] ghobona commented on #257
Published Community Practice documents are listed at https://www.ogc.org/docs/cp

[2021-08-31 23:23] manuel489 commented on #249
@opoudjis, I get compilation failure when I do this.

[code]

[2021-09-01 01:14] opoudjis commented on #256
I didn't understand: request is to render alt terms in HTML the same as in PDF, inline.

[2021-09-01 02:16] ronaldtse commented on #256
Ah, right indeed. The request is to render in HTML an alt term like in PDF such that it differentiates term designation status. Thanks!

[2021-09-01 03:18] manuel489 commented on #249
Pending support for *description* paragraphs

[2021-09-02 03:03] ronaldtse opened #264 "ModSpec says "Requirements class", not "Requirement class""
We need to verify that we generate the text "Requirements class" (with an S), not "Requirement class".

This applies to when generating captions and also cross-reference titles.

<img width="364" alt="Screenshot 2021-09-02 at 11 02 44 AM" src="https://user-images.githubusercontent.com/11865/131774934-9dc71226-ba3b-481d-a187-1d47453778da.png">

[2021-09-02 03:04] ronaldtse opened #265 "Clause titles must be in "Sentence case", not "Title Case""
This is confirmed with @gbuehler where OGC now prefers "Sentence case", not "Title Case".

For example, "Requirements class" vs "Requirements Class".

[2021-09-02 17:59] manuel489 opened #266 "Support for rich text in Requirement label attribute"
Currently, label block attribute is rendering only in plain text.

Taken from [metanorma.org](https://www.metanorma.org/author/ogc/topics/requirements/):

[code]

renders

![cap1](https://user-images.githubusercontent.com/33627611/131893214-363d8474-4e84-4da8-ac5c-f7be0b000a85.PNG)

Here, label text was expected to show *req/core* in bold, but it renders in plain text instead.

[2021-09-02 18:13] manuel489 commented on #266
In addition, how can I encode the *Requirement 1-1* and *Requirement 1-2* fields in DL syntax?

[2021-09-02 23:27] ronaldtse commented on #266
@manuel489 exactly -- same question that I have. I wonder if we can mix DL syntax and the block syntax because rich text is a lot more easy to enter in block syntax. (ping @opoudjis )

Also, I am not convinced that the `label` should be rich text, because in printed form the `label` `href` is not accessible.

[2021-09-02 23:29] ronaldtse commented on #266
@ogcscotts @gbuehler @ghobona : Could we have a clarification on the structure of the "ModSpec Label" -- should it support rich text, or just plain text?

ModSpec itself does not provide an answer, it says:

In ModSpec itself, each requirement is only labeled by the Requirement number.
<img width="520" alt="Screenshot 2021-09-03 at 7 29 03 AM" src="https://user-images.githubusercontent.com/11865/1

[2021-09-02 23:30] ronaldtse opened #267 "Additional empty row generated for ModSpec requirements"
From: https://github.com/metanorma/metanorma-ogc/issues/266

See this:
![image](https://user-images.githubusercontent.com/11865/131928709-6281a72c-f9c0-4214-8074-8edcdb5b4908.png)

[2021-09-03 06:55] ronaldtse opened #268 "Failure to display reference tag with `ö`"
From ogc-citygml-xmi:

Original:
<img width="807" alt="Screenshot 2021-09-03 at 2 54 12 PM" src="https://user-images.githubusercontent.com/11865/131963340-ff94f030-6343-45b6-b104-d3d052c79365.png">

Now:
<img width="646" alt="Screenshot 2021-09-03 at 2 54 21 PM" src="https://user-images.githubusercontent.com/11865/131963363-363ed9e3-c710-4739-9575-ec6c56a21f17.png">

Encoding:

[code]

Bibliograph

[2021-09-03 21:26] ogcscotts commented on #266
@ronaldtse I am not sure why we would need rich text - do I follow the Issue correctly that rich text is only needed to make the text bold?

[2021-09-04 03:06] ronaldtse commented on #266
The reason for asking is that we have seen requirements that embed a link as a label.

For example “/req/xxx” but underneath it is a link to http://www.opengis.net/req/xxx.

For this case it might be better to separate encoding the base path and label.

[2021-09-04 11:08] opoudjis commented on #249
also requirement, permission, recommendation

[2021-09-04 13:33] opoudjis commented on #249
Reference has been sprung as a component type. I would dispute its necessity, but I'm past caring.

[2021-09-04 13:57] #249 closed

[2021-09-04 15:47] #256 closed

[2021-09-05 11:47] #267 closed

[2021-09-05 11:51] opoudjis commented on #266
@manuel489 as a general solution: block attribute syntax should be treated as plaintext; if you want formatting, switch to definition list syntax, which will treat the attributes as general Asciidoctor text. Injecting formatting into block attributes is too much of a hassle to be worthwhile, when the alternate syntax is available. I'll note it in documentation.

[2021-09-05 12:01] opoudjis commented on #266
I've just implemented this: you can do:

[code]

and that will be interpreted as equivalent to:

[code]

[2021-09-05 12:02] opoudjis commented on #266
In my opinion I've fulfilled this ticket, but this awaits confirmation from OGC as to whether label can be rich text.

[2021-09-05 12:25] opoudjis commented on #264
Confirmed for requirement class captions and crossreferences. This was already done in https://github.com/metanorma/metanorma-ogc/issues/238

[2021-09-05 12:25] #264 closed

[2021-09-05 12:51] #265 closed

[2021-09-06 06:53] ghobona commented on #266
@opoudjis Please render the requirement label only as plain text.

[2021-09-06 07:01] ronaldtse commented on #266
Thank you @ghobona for the confirmation!

[2021-09-06 12:17] opoudjis commented on #268
ids and idrefs are being HTML escaped; they need not to be, since & # ; are not legal characters in XML ids

[2021-09-06 13:18] opoudjis commented on #268
The issue is that the XML is being saved to ASCII after the ids are being processed; so non-ascii characters are being accepted during validation, but then converted to escapes illegal in ids afterwards. The proper approach is to eliminate non-ascii characters beforehand.

[2021-09-06 13:47] #268 closed

[2021-09-07 13:39] opoudjis commented on #232
This has been resolved. The markup shall be:

[code]

[2021-09-07 13:42] #232 closed

[2021-09-07 14:50] #266 closed

[2021-09-08 01:44] ronaldtse opened #272 "Ordering of "Abbreviated terms" entries"
The order of entries inside "Abbreviated terms" is not currently defined.

By default, Metanorma does an alphabetical sort ([a,Z]-[z,Z]) then numeric (ascending order).

In CityGML 3.0, numbers (ascending) is listed first then the alphabetical order.

What is the desired OGC order?

Ping @ogcscotts @gbuehler @ghobona

(This is originally from https://github.com/metanorma/ogc-citygml-xmi/issues/74)

[2021-09-08 01:50] ronaldtse opened #273 "Ordering of references in Normative references / Bibliography"
In ISO, the defined order is:
* ISO standards sorted according to ascending document number
* International SDO standards sorted according to ascending document number
* Other SDO standards sorted according to ascending document number
* Others in order defined

Should there be a defined order in OGC?
* OGC standards sorted according to ascending document number (year, then number)
* Standards
* O

[2021-09-08 02:23] ronaldtse commented on #246
Not working with latest metanorma-ogc:

<img width="770" alt="image" src="https://user-images.githubusercontent.com/11865/132436038-330cd0f6-abc8-4d94-9268-f5c9b6d8dafa.png">

[code]

[2021-09-08 02:34] ogcscotts commented on #273
@ronaldtse We generally follow the pattern of OGC, ISO, everyone else in alphabetic order, sorted by document title (OGC) or number (ISO). The everyone else category is by number or title based on the convention most used... e.g., W3C is title, IETF is number. All that being said, we never enforce the rule!

[2021-09-08 03:35] ronaldtse commented on #273
Thanks @ogcscotts ! Let’s see how much we can automate here.

So the scheme goes:
- OGC, by title (do we strip out the prefix of “OGC” which occasionally appears?)
- ISO sorted by docnumber
- Other SDOs like IEC, IETF, ITU, W3C sorted by their conventions
- non-standards

For non-standards, should they be in author surname order or title order?

[2021-09-08 05:37] ghobona commented on #272
Numbers (ascending) first then the alphabetical order, please.

[2021-09-08 07:34] ronaldtse commented on #272
Thanks @ghobona -- and can we also confirm:
- capitalisation does not affect the order (i.e. x comes before Y, X comes before y)
- shorter length is considered earlier in order than longer length ("bar" comes before "barber")

[2021-09-08 11:24] opoudjis commented on #246
Slippage between branches, adding back into fix/reqt-dl-attrs branch

[2021-09-08 11:27] #246 closed

[2021-09-08 20:41] ogcscotts commented on #273
@ronaldtse I suggest surname, at least while we are using the current styling

[2021-09-09 00:13] ronaldtse commented on #273
Thanks @ogcscotts. The caveat is that most publication references are entered in free form text (except the auto-fetched ones), so the ordering by surname of non standards will remain manually enforced.

But some day when OGC authors are ready for structured bibliographic entries then automatic sorting can be done.

[2021-09-09 01:25] ronaldtse opened #274 "ModSpec test encoding with sub-tests and steps"
_This ticket documents the implementation of ModSpec test encoding changes for metanorma/ogc-citygml-xmi#48._

# Original issue

## Case 1

Original:
<img width="841" alt="Screenshot 2021-09-01 at 2 31 43 PM" src="https://user-images.githubusercontent.com/11865/131623155-86ffce7f-8ba1-4da2-91f9-fa495c887b63.png">

Now:

<img width="825" alt="Screenshot 2021-09-01 at 2 31 35 PM" src="https://user-i

[2021-09-09 01:25] ronaldtse commented on #274
As suggested by @cmheazel , the OGC API document provides individual steps under "Test Method":

http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_general_tests

e.g.
<img width="770" alt="Screenshot 2021-09-07 at 10 57 51 PM" src="https://user-images.githubusercontent.com/11865/132366731-92f55a35-19a0-4683-9066-6bbc3d98d583.png">

<img width="768" alt="Screenshot 2021-09-07 at 10 57 33 PM

[2021-09-09 01:25] ronaldtse commented on #274
From @opoudjis :

We are going to realise this as follows, after discussion:

* The current "test method" can be marked up as a "test method type", since we have deliberately allowed component classes to be open ended:

[code]

* I have allowed components of requirements to be marked up with example delimiters as well as open block delimiters, so as to allow recursion (see above)
* We are introduc

[2021-09-09 01:26] ronaldtse commented on #274
1. CityGML uses the “Test Method” field to mean “the type of testing method”, filing it with the value “Manual Inspection”. In API-Features, it is either a single step or a series of steps.

2. In CityGML abstract tests, if the corresponding requirement contains parts (e.g. “A, B”), then the abstract test contains all parts (“A, B”). In API-Features, requirements that contain parts have abstract t

[2021-09-09 01:26] ronaldtse commented on #274
This understanding is now confirmed by OGC via @ogcscotts.

[2021-09-09 01:26] ronaldtse commented on #274
This has been implemented in 16c996cc34a22b19d968b976b77d3e489ce0de15

[2021-09-09 01:40] ronaldtse commented on #274
The resulting conceptual model of a ModSpec Test (conformance test or an abstract test).

[code]

[2021-09-09 16:56] ronaldtse commented on #274
We need to update the modspec LutaML copy in metanorma-requirements-models.

[2021-09-09 16:57] ronaldtse commented on #274
Need documentation too.

[2021-09-13 03:14] ronaldtse commented on #273
I ran into this issue:

[code]

How does this title sort: "OGC: The OpenGIS™ Abstract Specification Topic 8: Relationships Between Features"?

* Should Abstract Specification Topic documents should be grouped together? Even so, "Abstract Specification Topic 10:" will sort before "Abstract Specification Topic 5:" because it is a string sort, not a number sort.

[2021-09-13 05:11] ronaldtse opened #275 "Smart terms references to terms to Glossary create wrong anchors in XML"
These are mistakes are present in both Semantic and Presentational XML files:

Let's take the term "URI" as an example.

It is defined here:
[code]

However, the `<xref>` elements look like this:
[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/ogc-citygml-xmi/issues/101#issuecomment-917786884_

[2021-09-13 10:37] opoudjis commented on #275
Invalid: this turns out to be an issue in processing of XMI by Lutaml, without access to all anchors in the document.

[2021-09-13 10:37] #275 closed

[2021-09-16 12:19] ronaldtse opened #276 "Rename ModSpec types names in Metanorma"
Right now we have:

* `general` for Requirement, Recommendation or Permission (default value)
* `class` for Requirements class
* `verification` for Conformance test
* `conformanceclass` for Conformance class
* `abstracttest` for Abstract test

But they are not intuitive. We should follow the original ModSpec names for clarity.

[code]

[2021-09-16 12:23] opoudjis commented on #276
I'll do these as synonyms

[2021-09-17 17:24] ronaldtse commented on #276
These are also very confusing -- when to use the dot, or not:

[code]

We should get rid of the dot.

[2021-09-17 20:22] manuel489 opened #277 "Multi-paragraph not working in DL syntax"
Multi-paragraph content is not being shown in DL syntax.

Example:

[code]

renders
![cap1](https://user-images.githubusercontent.com/33627611/133848791-7c99d7c5-ccd5-4344-9a8c-f18f983905ba.PNG)

[2021-09-18 01:42] manuel489 opened #278 "Support `step` components in DL syntax"
Markup sample:
[code]

We need to support `test method type`, `test method`, and `step` attributes in DL syntax.

[2021-09-20 11:14] opoudjis commented on #276
No we should not. Asciidoctor treats the dotless labels (style attributes) as a closed vocabulary, and I've found that recognition of them by the parser is haphazard. Dotted labels (role attributes) are an open vocabulary, and Asciidoctor does not raise any problems in recognising them. We should make the dot universal, and I have been doing so in documentation.

Don't fight me on this.

[2021-09-20 12:13] #276 closed

[2021-09-20 12:27] opoudjis commented on #278
Officially these are test-method, test-method-type, but I'm allowing them to be recognised with spaces.

[2021-09-20 12:52] opoudjis commented on #278
We now support nested definition lists in the syntax. So the foregoing is to be rendered as:

[code]

[2021-09-20 13:13] opoudjis commented on #278
Adjustment to move nested dl after any content above it:

[code]

as

[code]

Requires metanorma-standoc push

[2021-09-20 14:17] opoudjis commented on #277
I cannot replicate this; see attached.

Could you retry with a github pull?

[a1.zip](https://github.com/metanorma/metanorma-ogc/files/7196326/a1.zip)

[2021-09-20 18:57] manuel489 commented on #277
@opoudjis, I'm still getting the issue. Maybe I'm not using the correct gem versions. This is my Gemfile:

[code]

Is it ok?

[2021-09-20 22:42] manuel489 commented on #277
When I fetch from main branch I get compilation error.

[2021-09-22 10:12] opoudjis commented on #277
Yes, I've run with that Gemfile, though I had to repaste the branch name: `fix/reqt-dl-nesting`. It still compiled fine.

Don't know; just in case, add:

`gem "isodoc", :git => "https://github.com/metanorma/isodoc.git", :branch => "main"`

[2021-09-22 13:05] manuel489 commented on #277
It works fine now with the "isodoc" gem. Thanks @opoudjis.
Closing.

[2021-09-22 13:05] #277 closed

[2021-09-23 15:26] manuel489 commented on #257
Community practice template is created in https://github.com/metanorma/mn-samples-ogc/pull/123
Waiting for further instructions.

[2021-09-24 00:30] ronaldtse commented on #276
@opoudjis has confirmed offline that all these labels work without the dot and we could update the manual to reflect that. Thanks!

[2021-09-27 16:57] manuel489 commented on #278
@opoudjis, after the release I have updated from metanorma-cli.
I get compilation failure when trying to build:
[code]

Part of the error message:
[code]

[2021-09-28 00:27] ronaldtse opened #282 "Rename ModSpec component `[requirement_class]` to `[requirements_class]`"
This follows #264 and #276. Sorry @opoudjis !!

[2021-09-28 10:51] opoudjis commented on #278
Have debugged

[2021-09-28 10:51] #278 closed

[2021-09-28 11:07] #282 closed

[2021-09-29 14:04] manuel489 commented on #278
Confirmed fixed 👍

[2021-09-30 02:21] ronaldtse opened #284 "(Urgent) PDF: ligature text is not copy/pastable"
Reported by @TatjanaKutzner:

![ljjhnihnnnnmhnmf](https://user-images.githubusercontent.com/11865/135374909-83223c64-9d08-4adb-96da-560b03963212.png)

I can confirm this problem that all the ligatures are not copy/pastable:
<img width="222" alt="image" src="https://user-images.githubusercontent.com/11865/135375003-fff7f858-81b0-431b-aea2-a8fc562bbd97.png">

<img width="137" alt="Screenshot 2021-09

[2021-09-30 02:23] ronaldtse opened #285 "(Urgent) IETF references should point to IETF official xml2rfc site XML"
From 20-010:
<img width="706" alt="image" src="https://user-images.githubusercontent.com/11865/135375341-50c8b084-202d-4215-bdf2-616c1a00700e.png">

This is probably a bug in Relaton-IETF, ping @andrew2net .

[2021-09-30 10:06] andrew2net commented on #285
@ronaldtse IetfBibliographicItem instance has 2 type of links `xml` and `src`. The `src` link points to `https://www.rfc-editor.org/info/`. The `xml` link points to a GH repo `https://raw.githubusercontent.com/relaton/relaton-data-ietf/` because the repo contains copies of the RFC/XML files from `https://xml2rfc.tools.ietf.org/public/rfc/` and these files don't contain links to the original XML pu

[2021-09-30 10:12] ronaldtse commented on #285
Actually the original post is wrong. Here, we want to point to the actual source document (the RFC document), not the location of the bibitem of the document.

For RFC 2045, are you saying that `src` points to https://www.rfc-editor.org/rfc/rfc2045.txt?

[2021-09-30 10:13] andrew2net commented on #285
Yes, I'm

[2021-09-30 10:22] ronaldtse commented on #285
@andrew2net then is this a Metanorma bug that it should reference `src`?

In any case, we should separate these two:
* authoritative bibitem XML source (`https://xml2rfc.tools.ietf.org/public/rfc/...`)
* fetched bibitem XML source (`https://raw.githubusercontent.com/relaton/relaton-data-ietf/...`)

[2021-09-30 10:25] andrew2net commented on #285
Oh.. my bad, it points to https://www.rfc-editor.org/info/rfc2045 not txt file

[2021-09-30 10:30] Intelligent2013 commented on #284
Apache FOP replaces `ti` sequence (and some another also) to one ligature `ti`
![image](https://user-images.githubusercontent.com/5559926/135428136-3e376e4b-5ace-41cb-860f-4787d92ded7f.png)

but Lato font doesn't contain `ti` as one glyph:
![image](https://user-images.githubusercontent.com/5559926/135437175-1983b6db-e973-4cc5-9470-62b1ff9757c2.png)

The differences between `t+i` and `ti` rendering

[2021-09-30 10:31] andrew2net commented on #285
Yes, Metanorma should select reference by type.

I've planned to move code from `relaton-data-ietf` to the `relaton-ietf` so I'll change the format to RelatonXML and make `xml` links point to original publications. Hope it isn't an urgent task, is it?

[2021-09-30 10:32] Intelligent2013 commented on #284
`ff`:
![image](https://user-images.githubusercontent.com/5559926/135439390-a201fd36-cc28-4370-b150-0917532dde23.png)

[2021-09-30 11:16] Intelligent2013 commented on #284
Test for another fonts. `fi` renders as ligature in 'Source Serif Pro' and 'Lato' fonts, `ti` and `tt` render as ligature in 'Lato' only,
![image](https://user-images.githubusercontent.com/5559926/135444504-8d58fd70-a51a-4d08-b35f-42fb566eac56.png)

Found `fi` in all fonts:
![image](https://user-images.githubusercontent.com/5559926/135444665-4abd9e64-a707-4339-ae6f-3ed9d823480f.png)

Found `ti` in

[2021-09-30 13:10] ronaldtse commented on #284
This is very interesting. However, on Google Fonts, it seems that Lato can also produce the correct ligature output while allowing copy and paste.

https://fonts.google.com/specimen/Lato?preview.text=fi&preview.text_type=custom

Is this a PDF issue?

[2021-09-30 13:20] Intelligent2013 commented on #284
Apache FOP and Lato produce correct ligature for `fi`:
![image](https://user-images.githubusercontent.com/5559926/135444665-4abd9e64-a707-4339-ae6f-3ed9d823480f.png)

But it seems FOP creates 'virtual' ligatures for some pairs and can't produce reverse feature for search and copy-paste.

I think this is Apache FOP issue. I've created Word document and saved as PDF from Word, and there aren't any l

[2021-09-30 13:39] ronaldtse commented on #285
Oh, that's perfectly fine, no need to change that.

[2021-09-30 13:40] ronaldtse commented on #285
But how come other references, e.g. for OGC, are correct? Is Metanorma getting the `src` for OGC but getting `xml` from IETF?

Not super hurry but let's get that done by early next week.

[2021-09-30 13:48] Intelligent2013 commented on #284
Actually, Lato font contains ligatures for `ti` and `tt`:
![image](https://user-images.githubusercontent.com/5559926/135466146-c4e84028-71b8-4e0e-ac7d-bd0a785ab099.png)

![image](https://user-images.githubusercontent.com/5559926/135466316-5ad92e3f-234e-4bba-9136-2b3a25591372.png)

Before I've used CharMap Windows tool, but it doesn't show glyph > U+FFFF.

[2021-09-30 14:08] andrew2net commented on #285
In the BibliographicItem model, references are an array. For OGC only one type (`obp`) of reference is available to parse. For IETF 2 types of reference are available. It seems Metenorma just takes the first reference from the array.

[2021-09-30 17:45] Intelligent2013 commented on #284
The Apache FOP class responsible for ligatures is `src\main\java\org\apache\fop\complexscripts\fonts\GlyphSubstitutionTable.java`.

If the function `findLigature` will return `null` always, then it solves this issue, i.e. no ligatures will be used in pdf:
[code]

but Arabic documents will be rendered non-correctly. Will try to deep into the FOP code...

[2021-09-30 19:59] Intelligent2013 commented on #284
Preliminary result - `unicodeMappings` array (src\main\java\org\apache\fop\fonts\truetype\OpenFont.java) contains max unicode index `65535`:
![image](https://user-images.githubusercontent.com/5559926/135521700-96620826-7332-4d8b-9b6e-e77aa61c5334.png)

but ligatures `tt` - `65574`, `ti` - `66260`.

[2021-10-01 16:46] Intelligent2013 commented on #284
- Apache FOP has very limited support of ligatures.  https://xmlgraphics.apache.org/fop/2.5/fonts.html:
`OpenType fonts support advanced layout features such as ligatures, small caps, swashes, alternates, old style figures and more. Please see Advanced Typographic Extensions - OpenType Layout. These features are currently missing within FOP due to the implementation opting to favor a greater numbe

[2021-10-03 03:39] ronaldtse commented on #284
@Intelligent2013 let's turn off ligatures for non-Arabic then.

[2021-10-03 19:31] Intelligent2013 commented on #284
Issue fixed in mn2pdf v1.37 https://github.com/metanorma/mn2pdf/releases/tag/v1.37

[2021-10-03 23:23] ronaldtse commented on #285
Do we have documentation on which links are available in what flavors? Without documentation it is hard to use.

From @opoudjis :

[2021-10-04 04:06] opoudjis commented on #284
... I think turning off ligatures in Roman is ugly (and if you want ugly text, why use PDF at all?), but I understand why we have to do it.

Is there any option of leaving in ligatures with codepoint < 0xFFFF, so it ligates tt and not ti? You could also manually insert ZWJ in select pairs in preprocessing, but I don't know if that would help or make it worse.

The lack of a dot in the "fi" ligatur

[2021-10-04 04:23] ronaldtse commented on #284
@Intelligent2013 does this mean if we can fix the 65535 limit (the problem is FOP cannot fix ligatures above code point 65535), then the original setup will work?

Perhaps we can try fixing that and contributing it back to Apache FOP?

[2021-10-04 11:06] andrew2net commented on #285
We don't. I'll create a ticket for the issue.

[2021-10-05 06:40] ronaldtse opened #286 "Deprecate old ModSpec keywords on website"
These values for the ModSpec model type have been deprecated:

* `general` for Requirement, Recommendation or Permission (now `requirement`, `recommendation` or `permission`)
* `class` for Requirements class (now `requirements_class`)
* `verification` for Conformance test (now `conformance_test`)
* `conformanceclass` for Conformance class (now `conformance_class`)
* `abstracttest` for Abstract tes

[2021-10-05 14:00] Intelligent2013 commented on #284
There is an issue on Apache tracker: https://issues.apache.org/jira/browse/FOP-2701

The problem is similar, but isn't exactly same:
- when set `<fo:root ... xml:lang="en">` (we should use the attribute `xml:lang` for PDF/UA requirement), then there aren't any ligatures for Calibri font:
![image](https://user-images.githubusercontent.com/5559926/136035697-a4051ceb-964d-45b3-86b3-b98a34177b82.png)

[2021-10-05 14:08] Intelligent2013 commented on #284
Using of `embedding-mode="full"` doesn't have effect (except bigger size of PDF).

[2021-10-05 17:11] Intelligent2013 commented on #284
yes, the problem is that Apache FOP replaces sequence of characters to one char (one ligature, even with code point more 65535), but don't put original characters (if ligature char more than 65535) for search and copy-paste feature. But actually this is partial issue as you can see above, for Cambria font Apache FOP doesn't put ligatures at all. I.e. there are interrelated things:
- the attribute

[2021-10-06 05:09] ronaldtse commented on #284
Moving this to a new issue in mn2pdf.

[2021-10-06 05:12] #284 closed

[2021-10-07 02:28] ronaldtse commented on #274
Done:
* published on metanorma.org (https://github.com/metanorma/metanorma.org/pull/479)
* ModSpec model updated at https://github.com/metanorma/metanorma-requirements-models/commit/84169dcba4f700bd9eee2babfa26eb2a8629675f

[2021-10-07 02:28] #274 closed

[2021-10-07 02:41] ronaldtse commented on #24
For the record the MetPy font for these symbols is here: https://github.com/Unidata/MetPy/tree/cee9d4de5bc37a4cd2efc381f0a08f3a53d00940/metpy/plots/fonts

To use these symbols we will need to have a textual way of referring to a particular character code of a particular font (the MetPy font here).

e.g.
[code]

To show https://github.com/OGCMetOceanDWG/WorldWeatherSymbols/blob/master/symbols/ICAO_

[2021-10-14 04:03] ronaldtse opened #288 "Update on OGC document status for non-Standard deliverables"
As per an offline discussion with @ogcscotts @ghobona @gbeuhler, non-Standard deliverables only have a “draft” and “published” status.

These types are:
* best-practice: Best Practice (a document subtype is necessary, see [ogc-docsubtype])
* change-request-supporting-document: Change Request Supporting Document
* community-practice: Community Practice
* discussion-paper: Discussion Paper
* enginee

[2021-10-14 14:40] ronaldtse commented on #288
And of course, we would have to update documentation.

[2021-10-18 03:23] ronaldtse opened #289 "Anchor upper-case lost after conversion into XML, causing warnings to not make sense"
Given this encoding,
[code]

The resulting XML is:

[code]

Notice that the anchor for `<<JSON,JSON>>` became:
[code]

While there is no anchor called `JSON`, the resulting message is:

[code]

Which does not make sense, because the original anchor specified is `JSON`, not `_json`.

We need to do something right here.

[2021-10-19 04:48] ronaldtse opened #290 "Unnumbered document elements still take up the unique number"
This table is unnumbered, but still takes up the first number:
[code]

The next table (the first numbered table) is labelled "Table 2".

<img width="832" alt="Screenshot 2021-10-19 at 12 47 50 PM" src="https://user-images.githubusercontent.com/11865/137845754-e375e100-1969-4b33-9fea-efbd5a45fa11.png">

[2021-10-19 05:25] ronaldtse opened #291 "Confusion on the order and placement of Preface content"
https://www.metanorma.org/author/ogc/topics/markup/ says:

<img width="783" alt="Screenshot 2021-10-19 at 1 22 09 PM" src="https://user-images.githubusercontent.com/11865/137848596-59a5ffc1-0536-4472-84d7-448370c2c8c6.png">

Then:
<img width="809" alt="Screenshot 2021-10-19 at 1 22 56 PM" src="https://user-images.githubusercontent.com/11865/137848629-825f0a48-64fe-444a-ad33-30a836d19454.png">

So

[2021-10-20 06:13] ronaldtse opened #292 "OGC PDF contains additional bookmarks for Figures/Tables/Recs"
I noticed that in the OGC PDF bookmarks it contains Figures / Tables / Recommendations.

<img width="214" alt="Screenshot 2021-10-20 at 2 09 08 PM" src="https://user-images.githubusercontent.com/11865/138037542-8aa27c0c-c4cc-4c73-b1b9-435076a53a92.png">

These are probably not supposed to show, right?

[2021-10-20 09:25] ronaldtse opened #293 "Question: order of requirements in "List of requirements" in PDF"
Right now the TOC provides a "List of requirements" list but it reads a little funny, because:

* the types of requirements (recommendation, requirements, permissions) are interleaved
* the "requirements class" should technically be the container of all "requirements", hierarhically
* but if we group those here, it might be more of an "index" rather than a TOC because a TOC is always presented in

[2021-10-20 09:43] ronaldtse opened #294 "PDF: Bookmarks showing sections not shown in TOC"
I have an OGC PDF created but the bookmarks seem different from the TOC.

![image](https://user-images.githubusercontent.com/11865/138069447-297175e9-ecd5-40f5-8ae9-b6a83e75fc68.png)

![image](https://user-images.githubusercontent.com/11865/138069461-34300e2f-7f3b-459a-9f55-7e7d444444d4.png)

* While the bookmarks should provide the same links as the TOC, there is no "list of figures" in the TOC b

[2021-10-20 09:44] #294 closed, assigned to Intelligent2013

[2021-10-20 11:01] Intelligent2013 commented on #292
Done:

![image](https://user-images.githubusercontent.com/5559926/138079254-15019459-0962-44c8-bd8d-1c3b0716eff8.png)

[2021-10-20 11:02] #292 closed, assigned to Intelligent2013

[2021-10-20 12:02] opoudjis commented on #290
Cannot replicate, see attached. I will need the source document.
[a1.zip](https://github.com/metanorma/metanorma-ogc/files/7381003/a1.zip)

[2021-10-21 09:23] ronaldtse opened #295 "OGC: document behavior of abstract test / conformance test method part vs test method step (sample images helpful)"
From @opoudjis

[2021-10-21 09:26] ronaldtse opened #296 "(URGENT) All requirements classes and conformance classes are missing URIs"
From @ghobona:

Originally from https://github.com/opengeospatial/ogcapi-processes/pull/247#issuecomment-948309179

![](https://user-images.githubusercontent.com/18121038/138225445-ce1931f2-326c-4a32-87c3-859ba836f16a.png)

Sample encoding:
[code]

The `label` is not rendering.

This is blocking https://github.com/opengeospatial/ogcapi-processes/pull/247.

[2021-10-21 13:21] ronaldtse commented on #296
Confirm fixed.
<img width="506" alt="Screenshot 2021-10-21 at 9 20 41 PM" src="https://user-images.githubusercontent.com/11865/138286263-ef2be341-734a-4988-90b1-3d85478f1f7d.png">

[2021-10-21 14:15] manuel489 commented on #251
Updates added in https://github.com/metanorma/metanorma.org/pull/506

[2021-10-21 18:27] manuel489 opened #298 "`alt:[...]` macro resulting misplaced in output"
*In relation to https://github.com/metanorma/ogcapi-processes/issues/1 and https://github.com/opengeospatial/ogcapi-processes/pull/247*

`alt:[...]` macro result is being wrongly placed right after the first term title.

From [18-062](https://github.com/metanorma/ogcapi-processes/issues/1):

[code]

renders:
![issue1-generated](https://user-images.githubusercontent.com/33627611/138335491-d6acc4f2-

[2021-10-25 13:54] #251 closed, assigned to manuelfuenmayor

[2021-10-27 13:53] #291 closed, assigned to opoudjis

[2021-10-28 23:37] ronaldtse opened #299 "Provide method to enter ModSpec "Conformance Test" without a "Test Part""
The published CityGML 3 "abstract test 2" looks like this:
<img width="503" alt="image" src="https://user-images.githubusercontent.com/11865/139259840-972c8371-94df-43c1-87ce-13ae323b27a7.png">

Notice that it contains "Test Parts".

* the `a)`, `b)`, etc are "Test Parts" as allowed by ModSpec and reported in TB17. They mean "parts of the abstract test". This "test part" construct is used in many

[2021-10-29 11:58] #299 closed, assigned to opoudjis

[2021-10-29 12:00] opoudjis opened #300 "Realise `<ol @class = 'steps'>` in PDF"
Carried across from NIST, to address https://github.com/metanorma/metanorma-ogc/issues/299 : any instance of `<ol @class = 'steps'>`, at whatever depth, in OGC must have arabic numbering.

[2021-11-01 20:21] ronaldtse opened #302 "Update OGC branding"
OGC will be updating their logo on 2021-11-08 and we need to update the document templates accordingly.

There are 2 logos: coloured and white.

We need to change these formats:
* [x] #305
* [x] #306

And we need to remove the old OGC logos from metanorma-ogc.

UPDATED: ~~We are awaiting for SVG images.~~ Done below

[2021-11-02 08:58] ronaldtse opened #303 "Update OGC document type stages"
From the latest discussion with @ogcscotts @gbuehler @ghobona we have confirmed that OGC document types will have the following stages.

This task is to update them.

* [x] Update stages and cover label for that stage.
* [x] metanorma/metanorma.org#510
* [x] metanorma/metanorma-model-ogc#22

------

standard: Standard (and all its subtypes)
* swg-draft
* oab-review
* public-rfc
* tc-vote
* approve

[2021-11-02 08:58] ronaldtse opened #304 "Provide description of these in documentation (metanorma.org)."

[2021-11-03 05:12] ronaldtse commented on #302
The SVG logos are available: [ogc-logo.zip](https://github.com/metanorma/metanorma-ogc/files/7465438/ogc-logo.zip)

The light blue color in the logo, and therefore the one to use in PDF to replace the yellow color, is `#00b1ff`.

[2021-11-03 05:19] ronaldtse opened #305 "Update OGC branding in HTML output"

[2021-11-03 05:19] ronaldtse opened #306 "Update OGC branding in PDF output, and change yellow color to `#00b1ff`"

[2021-11-03 11:37] Intelligent2013 commented on #306
@ronaldtse OGC xslt updated. Examples (the publication date for 20-010 changed to Dec,2021 just for testing purposes):
![image](https://user-images.githubusercontent.com/5559926/140053102-d28f020d-071c-4e4d-975b-0312e5d924b7.png)
![image](https://user-images.githubusercontent.com/5559926/140053211-a299536f-7370-4304-a52c-076f5ba8fdcf.png)
![image](https://user-images.githubusercontent.com/5559926/

[2021-11-03 14:18] opoudjis commented on #305
Adding date sensitivity to logo, as done for https://github.com/metanorma/metanorma-ogc/issues/306

Adding logo to HTML output. Logo is only used in Word output in White Papers currently.

[2021-11-03 15:03] opoudjis commented on #305
SVGs being converted to data uri within isodoc were missing "+xml" in "image/svg+xml" processing.

[2021-11-04 00:59] ronaldtse commented on #306
This is perfect. Thank you!

[2021-11-04 07:26] #306 closed

[2021-11-04 07:27] ronaldtse commented on #305
@opoudjis is this done and ready to close?

[2021-11-04 09:34] #305 closed

[2021-11-04 09:34] #302 closed

[2021-11-04 11:21] opoudjis commented on #303
Changing stage from "approved" to "published" in Presentation XML for document types that do not explicitly list "approved".

[2021-11-04 11:30] ronaldtse commented on #302
Thank you guys!

[2021-11-04 11:34] #303 closed

[2021-11-04 11:45] opoudjis commented on #288
Superseded by: https://github.com/metanorma/metanorma-ogc/issues/303

[2021-11-04 11:45] #288 closed

[2021-11-08 02:40] ronaldtse commented on #146
All done upon consultation, status quo is the desired state. Closing.

[2021-11-08 02:40] #146 closed

[2021-11-10 13:28] ghobona opened #309 "Terms section of all OGC document types"
The first paragraph of the Terms, Definitions and Abbreviated Terms section uses the phrase "this standard". Please see attached.

For all OGC document types, the instance of the phrase where circled on the attached screenshot should be changed to "this document". Please update the template.

![Screenshot 2021-11-10 at 08 51 13](https://user-images.githubusercontent.com/18121038/141121461-2535f50e

[2021-11-10 22:29] ronaldtse commented on #309
Agree, thanks @ghobona!

[2021-11-11 08:55] ghobona opened #310 "Executive Summary in Engineering Reports"
Please add an Executive Summary section, appearing immediately after the Abstract section (i.e. before the Keywords section).

The Executive Summary section should be optional, as it is only required in Engineering Reports.

Some helper text to include, if possible, is below.

[code]

[2021-11-11 08:57] ghobona commented on #310
Cc: @ogcscotts @gbuehler

[2021-11-11 09:05] ronaldtse commented on #310
@ghobona is this a request to add text in the Engineering Report template?

It is already possible to add an Executive Summary preface section like this:

[code]

<img width="233" alt="Screenshot 2021-11-11 at 5 02 14 PM" src="https://user-images.githubusercontent.com/11865/141269167-ae6f0caf-2122-40ec-be9a-59c0d3aaa0f1.png">

<img width="742" alt="Screenshot 2021-11-11 at 5 02 39 PM" src="https:/

[2021-11-11 09:41] ghobona commented on #310
Yes, please place the Executive Summary immediately after the Abstract. The structure would be:

* I. Abstract
* II. Executive Summary
* ...
* ...

Regarding what to write in them, I'll provide some further guidance via email.

[2021-11-11 09:50] ronaldtse commented on #310
Thanks @ghobona, I can understand "Abstract" vs "Executive Summary".

How about the content that goes into the Preface section which is now a mandatory section for all deliverables?

[2021-11-11 10:15] ghobona commented on #310
@ronaldtse I agree, there is some overlap in the role of an **Executive Summary** in comparison to that of the **Preface**.

I suggest keeping the Preface of an Engineering Report short (e.g. only containing the statement about the subject of patent rights) and placing the rest of the summary content in the Executive Summary.

[2021-11-11 15:07] gbuehler opened #311 "Is there a way to force line wrapping in blocks such as example/source/quotes in HTML outputs?"
There are many examples where we want wrapping of examples or other types of text should be wrapped.  I  have found that PDF will wrap text as expected:
![Screen Shot 2021-11-11 at 9 59 22 AM](https://user-images.githubusercontent.com/221625/141319935-a6df89db-f614-4753-ba16-ba5e5eee12d4.png)

but HTML does not.  This will cause a large amount of scrolling in these instances:
![Screen Shot 2021-11

[2021-11-11 15:20] gbuehler commented on #311
OK, I found that changing this from:

[%unnumbered]
----
long lines that I want wrapped
----

to:

[example%unnumbered]
====
long lines that I want wrapped
====

seems to work in HTML just fine. There is no way to tell the offset in PDF (no background color to set the block apart).

[2021-11-11 15:20] #311 closed

[2021-11-15 11:47] #309 closed

[2021-11-15 13:13] opoudjis commented on #298
<img width="739" alt="Στιγμιότυπο 2021-11-16, 00 12 32" src="https://user-images.githubusercontent.com/1911039/141787819-6364533a-df46-43fa-a988-554ab69fb5b7.png">

[2021-11-15 13:14] #298 closed

[2021-11-15 13:24] opoudjis commented on #293
... Is there any guidance from OGC about this?

Failing that, you are not telling me what to do, but asking me to come up with something. Ok:

I will not make up some bizarre containerised index of requirements without sequential numbers, because believe you me, that is going to look even more bizarre.

I will instead sort the requirements by requirement class, in something resembling hierarchy or

[2021-11-15 13:35] opoudjis commented on #293
In fact, the Word ToC (which is completely independent of the PDF implementation) does include titles where provided:

<img width="918" alt="Στιγμιότυπο 2021-11-16, 00 32 49" src="https://user-images.githubusercontent.com/1911039/141790615-e9b25656-8f4f-49d3-90b9-369331fbaec8.png">

So:

* Word ToC stays as is, except that requirement classes are not interleaved, but sorted by requirement class t

[2021-11-15 13:42] ronaldtse commented on #293
Word ToC should sync with PDF ToC. OGC only treats PDF and HTML as normative.

A sort like this would be more appropriate:

I will instead sort the requirements by requirement class, in something resembling hierarchy order:

* Requirement class
* Requirement
* Recommendation
* Permission

* Conformance class
* Abstract test
* Conformance test

[2021-11-15 14:08] opoudjis commented on #293
Formerly Conformance test and Abstract test was excluded from Word ToC. We will no longer do so.

[2021-11-15 14:20] opoudjis commented on #293
So @Intelligent2013 the task is to sort all entries in the list of recommendations by:

1. The requirement class (the prefix to the label, in the order given)
2. The number of the requirement

So the sort key of _Recommendation 7: The Wrath of Khan_ is `3::0007` ("Recommendation" is 3rd in the list above)

The sort key of _Recommendation test 2_ is `8::0002` ("Recommendation test" is 8th in the li

[2021-11-15 21:39] Intelligent2013 commented on #293
@opoudjis OGC xslt updated.
Looks like instead of `requirement class` should be `requirements class` in `def recommmendation_sort_key1(type)`.

Example of presentation xml:
[code]

[2021-11-16 09:53] #293 closed

[2021-11-16 10:39] opoudjis commented on #310
Ok, if the Executive Summary is present, it goes after the Abstract.

[2021-11-16 10:42] ronaldtse commented on #310
@opoudjis FYI the "Executive summary" is only available for Engineering Reports, no other types should allow the "Executive summary".

[2021-11-16 12:01] opoudjis opened #314 "Executive summary in Engineering Reports: PDF"
Follow-on from https://github.com/metanorma/metanorma-ogc/issues/310

There will be an executive summary section in Engineering Reports, between the Abstract and subsequent clauses. I do not believe this will require extra processing from you, but raising this issue just in case. Presentation XML will look like:

[code]

[2021-11-16 12:01] #310 closed

[2021-11-16 15:23] Intelligent2013 commented on #314
Done.

[2021-11-16 15:23] #314 closed

[2021-11-21 07:51] ronaldtse commented on #295
@opoudjis this is rather urgent, can you please help here? thanks.

[2021-11-21 08:28] ronaldtse commented on #300
The current behavior seems wrong:

<img width="718" alt="image" src="https://user-images.githubusercontent.com/11865/142755098-aa5fe995-be38-42b4-871a-8b316a8b5109.png">

<img width="927" alt="image" src="https://user-images.githubusercontent.com/11865/142755136-f71a3318-51ad-46c5-b68d-f97059147c1f.png">

This is supposed to be 1. then a), not 1. then 1..

[2021-11-21 09:47] opoudjis commented on #300
The markup provided here is NOT what was requested: there is no use of "part" in the markup (`[.component,class=part]`), as stated in https://www.metanorma.org/author/ogc/topics/requirements/.

What we have is nested `ol[@class = 'steps']`, which had not been anticipated. I will implement HTML styling for nested `ol[@class = 'steps']`, @Intelligent2013 will need to do so as well.

[2021-11-21 10:11] opoudjis commented on #300
No, I'll do it in Presentation XML for PDF.

[2021-11-21 10:31] #300 closed

[2021-11-21 10:33] opoudjis commented on #295
Addressed in https://github.com/metanorma/metanorma-ogc/issues/300

[2021-11-21 11:08] #295 closed

[2021-11-23 16:14] ronaldtse commented on #290
Confirmed fixed.

[2021-11-23 16:14] #290 closed

[2021-11-23 16:16] ronaldtse opened #317 "PDF: List of figures not showing some figures"
<img width="262" alt="Screenshot 2021-11-24 at 12 14 48 AM" src="https://user-images.githubusercontent.com/11865/143061757-db31acba-efff-4893-99dc-793f3a28449a.png">

Figure 12 is missing from the TOC.

But Figure 12 exists and even has a caption.

<img width="493" alt="Screenshot 2021-11-24 at 12 15 04 AM" src="https://user-images.githubusercontent.com/11865/143061829-f44f4631-3561-4d44-b829-067f

[2021-11-23 16:17] ronaldtse opened #318 "PDF: reduce font size of monospace / fixed-width font"
Source Code Pro is known to be slightly larger, we want a balanced look with the normal text font size. Maybe 2 sizes down?

<img width="504" alt="Screenshot 2021-11-24 at 12 16 33 AM" src="https://user-images.githubusercontent.com/11865/143062050-f68ab301-5586-4594-a00a-0b247202c2c7.png">

[2021-11-23 19:31] Intelligent2013 commented on #317
@ronaldtse xslt puts the information into 'List of Figures' from the element `figure` with:
- `@id`
- element `name` that contains '—'.

It seems some another element is using for figure displaying. Could you put here xml fragment for 'Figure 12`, please? Thanks.

[2021-11-23 19:53] Intelligent2013 commented on #318
Done.

[2021-11-24 02:23] ronaldtse commented on #317
Will prepare. Why is the `--` in name necessary?

[2021-11-24 07:28] Intelligent2013 commented on #317
@ronaldtse we should put the figures/tables in ToC with Figure's/Table's number + Figure's/Table's title. `—` is indication of this (i.e. there are two parts). I.e. we don't put such values:
- `Figure 1` (figure without title)
- `CityGML official logo` (just image title, not figure)

[2021-11-24 09:18] ronaldtse commented on #317
@Intelligent2013 we also want to list the Figures without title, just like how Tables without titles are also shown. Can you help update?

[2021-11-24 10:24] Intelligent2013 commented on #317
@ronaldtse done.

[2021-11-24 10:33] Intelligent2013 commented on #317
Some figure's title missing in ToC, because actually this is formally isn't 'figure', just the element with title starts with 'Figure ':
[code]

So, then in ToC I have to put all elements with the name starts with 'Figure '.

[2021-11-24 11:41] Intelligent2013 commented on #317
@ronaldtse OGC xslt updated:
- Tables ToC:
![image](https://user-images.githubusercontent.com/5559926/143231308-1de580ca-c3c4-450d-b1e8-96414aa063d7.png)

- Figures ToC:
![image](https://user-images.githubusercontent.com/5559926/143231462-2800a886-847d-47ed-aa50-300f892e018e.png)

but in the source xml there is a gap in the figure's numeration between 'Figure 13' and 'Figure 24'.

[2021-11-24 14:24] ronaldtse opened #319 "Broken numbering of figures (sample document skipping Fig 14-23)"
OGC 20-010 is attached. This document is missing Figures 14 to 23.

This is due to "Figures" being embedded within "Examples", e.g.
[code]

The `[source,adoc]` block inside is technically a figure, and occupies a unique numbering, but is not showing the Figure number and caption.

[Archive.zip](https://github.com/metanorma/metanorma-ogc/files/7596370/Archive.zip)

[2021-11-24 15:17] ronaldtse commented on #317
The real cause of the missing Figures is #317 .

[2021-11-24 15:17] #317 closed

[2021-11-26 04:05] manuel489 opened #320 "Revision History appendix clause tagged as "Normative""
Revision History appendix is being tagged as "Normative". Is that correct? (it has no tag in original source.)

[code]

renders
![capture1](https://user-images.githubusercontent.com/33627611/143524934-b6bb9f7d-d9f7-44eb-ad06-bd7110d4779c.PNG)

[2021-11-26 04:49] ronaldtse commented on #320
@manuel489 that's incorrect, Revision History is informative. However, I don't think Revision History is a mandatory section and it may not be recognised by Metanorma by default.

I think the real problem is that Metanorma OGC should by default treat all Annexes as "Informative". This was the previous behavior I'm not sure if it is only OGC that is ignoring this, or it is now wrong for all flavors

[2021-11-26 05:12] manuel489 commented on #320
@ronaldtse, no. Metanorma OGC treats Annexes as "Normative" by default. I have checked that out.
And, it is documented in [Annexes](https://www.metanorma.org/author/topics/document-format/sections/#annexes):

![capture2](https://user-images.githubusercontent.com/33627611/143530243-2b0f5530-203b-42e6-8ab8-dd657b8a352a.PNG)

[2021-11-26 05:21] ronaldtse commented on #320
We probably should change this behavior. For example, the OGC Glossary section, located in the Annex, is already informative.

[2021-11-26 05:42] manuel489 commented on #320
Ok, in the mean time, I'll fix it in markup.

[2021-11-26 05:47] ronaldtse commented on #320
Thanks @manuel489 !

[2021-11-26 05:48] #320 closed

[2021-11-26 05:48] ronaldtse opened #321 "All Annexes should be by default "informative" in status"
In Metanorma-ISO all Annexes are by default "informative".

However in Metanorma-OGC, all Annexes are treated as normative. This is incredibly inconsistent and for authors we should align behavior, so in Metanorma-OGC we should have by default informative Annexes.

For example, the "Glossary" and "Revision history" sections, located in the Annex, are already informative.

_Originally posted by @ro

[2021-11-26 10:42] opoudjis commented on #289
@ronaldtse  I cannot replicate this. What document does this come from?

[2021-11-26 11:18] ronaldtse commented on #289
The ogcapi document.

[2021-11-26 11:46] opoudjis commented on #289
Date check for logo is failing with malformed date, as in the ogcapi document; patching.

[2021-11-26 12:44] opoudjis commented on #289
I had to reintroduce the error to see this. You really aren't being helpful...

The issue arises because there is a term title elsewhere in the document that is `== JSON`, and that Asciidoctor would have generated its anchor automatically as `_json`. What is happening here is built in Asciidoctor behaviour: if there is no match by case with an anchor anywhere in the document, Asciidoctor downcases

[2021-11-27 03:21] ronaldtse commented on #289
I disagree. The warning message should directly say the "JSON" anchor is missing. Asciidoctor is only used as a parser. It is NOT a validator (it cannot do any validation). The validation is a Metanorma step.

The title of the ticket says "the warnings do not make sense".

[2021-11-27 03:24] ronaldtse commented on #289
The problem here is that the author of a document will not understand:
1. What is the problem that caused the warning
2. Where to fix the problem
3. How to fix the problem

The user will try to grep for `_json` and will never come up with an answer. It took me, who is familiar with the system and code, a long time to figure out why this error occurs.

[2021-11-29 01:44] opoudjis commented on #289
At best, this will require monkeypatching of Asciidoctor source, which is a very bad idea. When Asciidoctor does not find a match for an xref, it tries again by lowercasing the anchor, and if it finds a match, it rewrites the source document to fit it: in this case, it is finding a match of `<<JSON>>` to an instance of `== JSON`, which autogenerates the anchor `_json`.

https://github.com/asciidoc

[2021-11-30 04:03] ronaldtse commented on #273
The scheme goes:

* OGC, by title (do we strip out the prefix of “OGC” which occasionally appears?)
* ISO sorted by ISO docnumber
* Other SDOs like IEC, IETF, ITU, W3C sorted by their conventions
* non-standards, author order (whatever text that was given).

[2021-11-30 21:18] gbuehler opened #323 "Aviation ER failing to generate PDF"
The Aviation API ER is failing to generate the PDF using the pipeline in OGC Gitlab:

https://gitlab.ogc.org/ogc/T17-D002-Aviation-API-ER/-/tree/master

Although it says it completed the build, pages, and deploy successfully, there is a 0 byte PDF file.

Here is a section of the log when I run it locally (which is not displayed in the Pipeline in Gitlab):

`
java -Xss5m -Xmx2048m -jar /usr/local/b

[2021-11-30 23:32] ronaldtse commented on #323
Thanks @gbuehler   would it be possible to share the "document.presentation.xml" file and also the "document.pdf.fo.debug.xml" for debugging purposes?

Ping @Intelligent2013

[2021-12-01 11:15] Intelligent2013 commented on #323
I _assume_ error:
`
org.apache.fop.fo.ValidationException: null:104:5421: Missing attribute on fo:basic-link: Either external-destination or internal-destination must be specified.
`
relates to ToC items in PDF. It seems some section title doesn't have (or has an empty) the attribute `id`. I'll modify OGC xslt to omit processing ToC items without `id`, but would be better to look at the source xml

[2021-12-01 18:05] Intelligent2013 commented on #323
@gbuehler thanks!

[2021-12-01 18:56] Intelligent2013 commented on #323
@ronaldtse the reason of issue in missing `id` for 1-st level section `Executive Summary`. 2nd `clause` in `preface` doesn't have `id`:
[code]
XSLT uses the attributes `id` for binding ToC item with section's position on the page.
The non-empty value for internal-destination in XSL-FO is critical:
`<fo:basic-link internal-destination="{@id}"`.
Today I've added the solution to ignore this cases (ht

[2021-12-02 08:53] ghobona opened #324 "Availability of `charter` doctype (was: `charter` not working on docker)"
`charter` is supposed to be a valid doctype on the OGC Metanorma template.

However, when I run this command

`docker run -v "$(pwd)":/metanorma metanorma/mn metanorma new -d charter -t ogc -l https://github.com/metanorma/mn-templates-ogc folder_for_charter`

I get the following error message.

[code]

[2021-12-02 12:59] opoudjis commented on #319
Sourcecode instances within examples should not be numbered, just as they are not captioned: that would be utterly confusing.  (The block on sourcecode labelling within examples is implemented at isodoc level.) Need to make sure they are not assigned numbering either.

[2021-12-02 13:20] opoudjis commented on #319
@ronaldtse Clearly I need the source asciidoc to do any debugging here.

[2021-12-02 14:09] opoudjis commented on #319
Figures, like sourcecode, within examples are not captioned; they should not be numbered either.

More generally: the exceptions to labelling in presentation XML need to be respected in xref labelling.

[2021-12-02 14:45] #319 closed

[2021-12-02 14:51] gbuehler commented on #323
OK, thanks.

changing

`=== Executive Summary`

to

`== Executive Summary`

allows the PDF to build.

[2021-12-02 15:06] gbuehler commented on #323
@Intelligent2013

When I run this locally, it is figure 12 that is not built d107a-structure.png

![d107a-structure](https://user-images.githubusercontent.com/221625/144447885-088bce62-1c6b-4e04-bffd-531a817e5788.png)

[2021-12-02 15:38] Intelligent2013 commented on #323
@gbuehler for this image there is some incompatibility in Java. I'm working on this issue here: https://github.com/metanorma/mn-native-pdf/issues/336 and going to open a bug on OpenJDK tracker. Can we share the image there?

As workaround solution I propose to re-save this image with some application:
- open in Preview (Mac), and then File->Export
- open in XnView, GIMP, etc.
 to regenerate intern

[2021-12-02 15:49] ghobona opened #325 "Replace `white-paper` document type with `technical-paper`"
As of 16 December 2021, the 'White Paper' document type will be renamed 'Technical Paper'.

Please update metanorma with the change.

[2021-12-02 15:51] ghobona commented on #325
Please wait until 16 December 2021 before proceeding with this change. The change is still subject to review until then.

[2021-12-02 17:09] Intelligent2013 commented on #323
@gbuehler re-saved image:
![image](https://user-images.githubusercontent.com/5559926/144469632-b68d2b6a-935d-482e-8369-51acd44032a3.png)

[2021-12-02 18:31] gbuehler commented on #323
This new image worked. I will close this issue.  You are welcome to re-open if needed.

[2021-12-02 18:31] #323 closed

[2021-12-03 04:06] ronaldtse commented on #325
Thanks @ghobona for letting us know. Do you want to use the same date cut-off treatment as the branding, i.e. before 2021-12-16 "White Paper", 2021-12-16 and beyond "Technical Paper"?

[2021-12-03 09:51] ghobona commented on #325
Yes, please use the same date cut-off as the branding.

[2021-12-03 20:16] ghobona opened #326 "Table of Contents does not return to previous state"
When you contract and then expand the Table of Contents (ToC), it does not return to its previous state.

Tested with this document https://docs.ogc.org/is/19-086r4/19-086r4.html

![metanorma_ogc_toc](https://user-images.githubusercontent.com/18121038/144667219-3bbb2884-e079-472e-b6fb-50c8d5d01683.gif)

[2021-12-05 09:40] ronaldtse commented on #326
Thanks @ghobona , this is confirmed. Interestingly this issue doesn't happen with the other flavors, maybe some identifier issue.

[2021-12-06 03:47] ronaldtse commented on #326
@s4birli would you be able to help fix this in the document here (https://docs.ogc.org/is/19-086r4/19-086r4.html)?

1. Provide a JS fix for this issue
2. Describe the fix in this ticket (maybe with a diff) so @opoudjis can implement the fix in metanorma-ogc.

Thanks!

[2021-12-06 03:56] ronaldtse commented on #323
@gbuehler I ran this image through `pngcheck` and it gave the following error:

[code]

Technically it is a broken PNG file. We should probably add an error message and a suggested solution on invalid images. Thanks!

[2021-12-06 06:41] s4birli commented on #326
This issue is due to adding the margin-left: 298px when showing the nav again.
[code]

[2021-12-06 09:09] ronaldtse commented on #326
Thanks @s4birli !

[2021-12-06 11:03] ronaldtse opened #327 "Word crash on ER D023"
[code]

[2021-12-06 11:11] ronaldtse commented on #327
From https://gitlab.ogc.org/ogc/T17-D022-Model-Driven-Standards-ER

[2021-12-06 12:24] #326 closed

[2021-12-06 12:42] opoudjis commented on #327
Just pulled and compiled, cannot replicate.

[2021-12-06 12:44] ronaldtse commented on #327
Tou should be seeing another error due to PDF processing that's masking this.

[2021-12-06 12:50] opoudjis commented on #327
I have generated the DOC, it is the PDF that's failing to generate, and that has to be followed up by @Intelligent2013 . I'm sending him the file.

[2021-12-06 13:05] Intelligent2013 commented on #327
@opoudjis  PDF generation issue was fixed a few days ago in https://github.com/metanorma/mn-native-pdf/issues/334.
I've checked - PDF generated successfully.

[2021-12-06 13:43] ronaldtse commented on #327
Using git gems:

Gemfile:
[code]

[code]

[2021-12-06 14:45] ronaldtse commented on #327
Wow. Found the culprit. It is the `inkscape` command being missing from PATH (after I migrated to M1 brew, which is at `/opt/homebrew/`). Luckily this doesn't happen on the single binary version because Inkscape is bundler.

Metanorma should immediately fail when Inkscape wasn't found because it is a hard dependency.

[2021-12-06 14:47] #327 closed

[2021-12-06 15:16] ghobona opened #328 "Enable the Table of Contents to go further than level 2 headers"
There's a request to enable the Table of Contents (ToC) to go further than second level headers (e.g. 2.1).

That is, to enable the ToC to present headers like 3.2.1, or even 4.3.2.1.

[2021-12-06 16:18] ronaldtse commented on #328
@ghobona has the user tried setting `:toclevels:`? It is documented here: https://www.metanorma.org/author/topics/document-format/sections/

[2021-12-10 04:01] ronaldtse opened #329 "Request to support bibtex import"
From @cportele

That said, we already implement BibTeX support in Relaton and we have previously developed the asciidoctor-bibliography plugin.

It shouldn't be difficult to re-implement that support in Metanorma. At least we should let people have a way to migrate BibTeX files into either Relaton files or Metanorma ADoc.

And of course, we already have that ticket here: https://github.com/metanor

[2021-12-10 04:21] ronaldtse opened #330 "Request support for generating clause titles instead of clause numbers"
From @cportele via @gbuehler :

Perhaps we should have an option in a cross-reference to use the section title instead of "Clause x.y" for the times that they are really necessary (I have encountered some occasions as well).

[2021-12-10 04:23] ronaldtse opened #331 "Request to support collapsible figures / code snippets"
From @cportele via @gbuehler

This request applies to HTML output. I agree that collapsible figures, snippets, are useful.

Let's address this in the ongoing reimplementation of the HTML output as performed by @s4birli (ping).

[2021-12-11 04:32] ronaldtse opened #332 "(URGENT) PDF: Crash in mn-samples-ogc 14-065r2"
Reproduce:

[code]

Output:
[code]

The resulting PDF is 0 bytes, and this is the cause of https://github.com/metanorma/packed-mn/issues/135 and https://github.com/metanorma/packed-mn/pull/136 failing.

We should run mn-samples-ogc for metanorma-ogc success testing.

[2021-12-11 09:23] Intelligent2013 commented on #332
@ronaldtse in the metanorma presentation xml there isn't parent element `ol` for `li`:

Presentation xml:
[code]

Semantic xml:
[code]

[2021-12-11 09:29] ronaldtse commented on #332
Bringing in @opoudjis

[2021-12-12 13:10] opoudjis commented on #332
I've introduced a fix, but this involves a bare `<ol>` in the requirement, and that points to faulty parsing: the `<ol>` should have been read into the `<description>`.

[2021-12-12 13:28] opoudjis commented on #332
Issue is that these are bare links, which have no textual content; Metanorma was assuming that they would therefore be removed from the description, as empty of textual content.

[2021-12-12 13:38] opoudjis commented on #332
The fixes to metanorma-standoc and metanorma-ogc should have taken care of this.

[2021-12-14 00:38] opoudjis commented on #332
@ronaldtse Please confirm this is fixed.

[2021-12-14 01:15] opoudjis commented on #332
... I've confirmed it with latest release.

[2021-12-14 01:15] #332 closed

[2021-12-14 03:21] ronaldtse commented on #325
@opoudjis this issue is a go. I've confirmed with @gbuehler.

[2021-12-14 04:36] ronaldtse commented on #332
Also confirmed. Thanks @opoudjis @Intelligent2013 !

<img width="680" alt="Screenshot 2021-12-14 at 12 36 02 PM" src="https://user-images.githubusercontent.com/11865/145933769-bebbd94f-7753-47a2-aab8-9398e6381ae3.png">

[2021-12-14 04:39] ronaldtse commented on #324
@ghobona we have never supported `charter`, and do not have a sample for `charter`.
https://www.metanorma.org/author/ogc/ref/document-attributes/

<img width="704" alt="Screenshot 2021-12-14 at 12 38 19 PM" src="https://user-images.githubusercontent.com/11865/145934025-1dd8d0f6-392e-4e14-8813-5dc2710e6134.png">

1. Should we implement `charter` as a new document type?
2. Do you have an existing sa

[2021-12-14 04:39] ronaldtse commented on #318
Thanks! Confirmed.

[2021-12-14 04:39] #318 closed

[2021-12-14 10:17] ghobona commented on #324
@ronaldtse Ok, agreed.

I suggest updating the error message to say "The template for charter documents can be downloaded from https://github.com/opengeospatial/templates/tree/master/charter_templates".

[2021-12-14 17:32] #257 closed, assigned to manuelfuenmayor

[2021-12-15 11:25] opoudjis commented on #325
Assuming URI type is TP, e.g. `<docidentifier type='ogc-external'>http://www.opengis.net/doc/TP/A/2.0</docidentifier>`

[2021-12-15 11:40] #325 closed

[2021-12-20 06:05] ronaldtse opened #335 "Reserved section names causes recognization problems"
From @gbeuhler:

We also should look at the possibility of "declaring" sections instead of recognising section names, matching section names is rarely a good idea.

[2021-12-20 10:12] ronaldtse opened #336 "Structured contributors: add role of "contributor" in addition to "editor" and "author""
Other than "author" and "editor" roles, we should add the role of a "contributor" which is often used in OGC deliverables.

For example, CityGML has a preface section for non-author/editor contributors:

<img width="605" alt="Screenshot 2021-12-20 at 5 24 56 PM" src="https://user-images.githubusercontent.com/11865/146744019-6398b7d2-fd7b-4a45-8631-ca43ea75f641.png">

This is suggested by @gbuehler

[2021-12-30 06:33] opoudjis commented on #336
There is no problem with doing this using `:role_{i}: contributor`, the only thing is to make the output processing recognise this. Is this still waiting on confirmation?

[2021-12-30 08:30] ronaldtse commented on #336
@opoudjis yes this is a go. Thanks!

[2021-12-31 04:37] #321 closed

[2022-01-01 09:28] ronaldtse opened #339 "HTML: "Admitted term" qualification not showing up"
Raised by @gbuehler.

[2022-01-01 09:32] ronaldtse opened #340 "Question: Concern about terminology on "admitted term""
In ISO, an accepted term but not "preferred" is called the "admitted term".

In OGC, they have traditionally used the "alternative term" term for this concept.

There has been some concern that some OGC audiences will confuse "admitted term" and "alternative term", such that "admitted term" sounds too informal.

This was raised by @gbuehler and @cmheazel, and that we need to seek opinion from @ogc

[2022-01-02 22:10] ronaldtse opened #341 "Enhancement: auto-link Requirement to the corresponding Conformance test (vice versa), and Requirements Class to Conformance test class"
As requested in https://github.com/metanorma/ogc-citygml-xmi/issues/128, we need to implement linking in Conformance test and its linked Requirement both ways.

We should also warn if there are requirements that do not link to any conformance tests and vice versa.

[2022-01-02 22:10] ronaldtse commented on #341
We need to update the https://github.com/metanorma/ogc-citygml-xmi/issues/128 document once done.

[2022-01-02 22:13] ronaldtse commented on #341
Every requirement has a corresponding test, they should link to each other

Every requirements class should have a link to their corresponding conformance class, they should link each other.

[2022-01-02 22:14] ronaldtse opened #342 "Revision history is always the last annex if it exists, Glossary is always second-last before Revision history"
As per @gbuehler, the correct order of the Glossary and Revision history is:
* Revision history is always the last annex.
* Glossary is the second-last before the Revision history

We need to update this and also guidance on metanorma.org.

[2022-01-07 08:01] ronaldtse opened #344 "(URGENT) HTML: Large spaces between items in the Table of Contents"
From @gbuehler:

This is presumably from the latest version.

![Screenshot 2022-01-06 at 11 46 54](https://user-images.githubusercontent.com/11865/148511599-aad92087-b7de-4cf2-ad21-1da853db07db.png)

[2022-01-07 14:00] CAMOBAP commented on #344
Issue introduced by this commit https://github.com/metanorma/metanorma-ogc/commit/202475c273e6edee1a13939d7adab54557c15463

I will try to update CSS selector to not apply `.h1, .h2, .h3, .h4, .h5, .h6` if they are inside `nav`

[2022-01-08 12:06] CAMOBAP commented on #344
I have compared the document with https://github.com/metanorma/metanorma-ogc/commit/202475c273e6edee1a13939d7adab54557c15463 and without this commit, and don't see any difference except this commit, trying to understand the feature which it should introduce to make correct fix

[2022-01-10 13:20] #344 closed

[2022-01-11 10:17] opoudjis commented on #339
`alt:[....]` is being recognised, but contra documentation, `admitted:[...]` is not. That's an error in documentation, but I'm introducing `admitted:[]` as a synonym of `alt:[]`.

[2022-01-11 10:25] ronaldtse commented on #339
@opoudjis thanks for adding “admitted” but this ticket is for the rendering in OGC documents to use the phrase “Admitted” instead of “Alt”?

[2022-01-11 10:31] opoudjis commented on #339
Not what I'm getting.

<img width="791" alt="Στιγμιότυπο 2022-01-11, 21 30 10" src="https://user-images.githubusercontent.com/1911039/148926426-377c8cf8-b40a-4f8b-a603-8e7f92708632.png">

I remind you that declining to provide me source to replicate behaviour from is a poor use of my time.

[2022-01-11 10:47] opoudjis commented on #341
The cross-reference is specified as the "subject" attribute of conformance tests and conformance classes. The requirement appears to be for bidirectional linking in rendering, and validation of the correspondences.

[2022-01-11 11:39] opoudjis commented on #341
Validation works on crossreferences. It expects that each conformance test shall have as its subject a cross-reference to the anchor of a general requirement, and that each general requirement shall be pointed to by the subject of a conformance test. Ditto for requirement classes and conformance classes. If there is a mismatch, an error is logged.

[2022-01-11 12:28] opoudjis commented on #341
OGC are not providing any indication of what they want the link rendered as. This is novel content that has not featured to date in existing documents.

Please ensure in future that we have actual specification of required behaviour from OGC.

Absent any actual rendering guidance, I am going to introduce the link from Requirement to Conformance as "Conformance test", uniformly.

[2022-01-11 13:15] opoudjis commented on #341
No additional markup is needed; just using "subject" markup with xrefs in conformance tests, the directional link will be inserted automatically. See the attached for exemplar.

[Αρχειοθήκη 2.zip](https://github.com/metanorma/metanorma-ogc/files/7846737/2.zip)

@ronaldtse Please confirm with OGC.

[2022-01-11 14:44] opoudjis commented on #342
This ticket appears to be requesting that I write code to re-sort annexes, so that they appear in the given order. Rather than document authors actually writing them in the correct order. (And then, no doubt, complaining when they don't appear in the order they wrote.)

This does not appear a good use of programming resources, but fine: any annex with the title "Revision history" appears last.

Th

[2022-01-11 15:02] opoudjis commented on #342
I am only going to target annexes with the titles "Revision History" or "Revision history", and annexes containing terms.

[2022-01-12 17:21] ronaldtse opened #349 "Support workflow to facilitate translation of Metanorma documents"
OGC wishes to produce a Japanese translation of the CityGML 2.0 document encoded in Metanorma. (metanorma/ogc-citygml2#1).

I thought about it and the following workflow makes most sense. The challenge is to only translate "content", not syntax.

1. Metanorma parses the English into a document tree
2. Use the Google Translate API ([Ruby client](https://github.com/googleapis/google-cloud-ruby#cloud

[2022-01-13 13:19] opoudjis commented on #349
Professional translators do start with automated tools, it is true; but (a) they don't finish with them, and (b) they want a workflow where they can see both. They're going to want to use their workflow tools, you can't just dump gibberish Japanese in an XML document and have them sort it out later in ASCII.

We can, per what you suggest, insert Japanese for cleanup as duplications of context clau

[2022-01-13 13:22] opoudjis commented on #349
And someone else is going to have to work on this.

The text interleaving would be duplicating tags, using the `@lang` attribute (and for things like titles, which should only appear once), the `lang:[]` macro. (https://www.metanorma.org/author/topics/languages/)

[2022-01-14 05:43] ronaldtse commented on #339
Thank you!

I think we might want to move the Admitted terms to the next lines like ISO to prevent confusion. (cc @Intelligent2013 )

P.S. source -- any OGC doc...

[2022-01-14 05:44] ronaldtse opened #350 "PDF: Move "Admitted" term instances to separate lines to prevent confusion"
It is confusing to see that the "preferred term" and "admitted term" are on the same line. I can't tell whether the term is "conceptual model CM" or "conceptual model".

<img width="791" alt="Στιγμιότυπο 2022-01-11, 21 30 10" src="https://user-images.githubusercontent.com/1911039/148926426-377c8cf8-b40a-4f8b-a603-8e7f92708632.png">

@intelligent2013 could you help do that at the same indentation?

[2022-01-14 09:26] Intelligent2013 commented on #350
OGC xslt updated.
Before:
![image](https://user-images.githubusercontent.com/5559926/149491449-f39eeb26-4c2d-42fd-8b3b-850895d96364.png)

After:
![image](https://user-images.githubusercontent.com/5559926/149491496-c40ce155-5cc1-417f-9354-653a7b55eeb0.png)

[2022-01-14 09:34] ronaldtse commented on #350
@Intelligent2013 thabks. Can we keep the “CM” aligned with “conceptual model”?

[2022-01-14 10:14] Intelligent2013 commented on #350
@ronaldtse done:

![image](https://user-images.githubusercontent.com/5559926/149498819-825e5299-aa9c-43c9-8dd7-06e1b47be314.png)

[2022-01-15 05:36] ronaldtse commented on #350
Thank you @Intelligent2013 this is perfect!

[2022-01-15 05:36] #350 closed

[2022-01-16 15:22] ronaldtse commented on #349
"Professional" or not, this is something that is needed by someone who is translating the language. The label "professional" is a distraction.

In this case here, we are talking about standards authoring. The workflow tool for authoring standards documents by "professional standards authors" is Metanorma.

The Japanese author should be able to use Metanorma to:
1. Start with machine-translation wi

[2022-01-16 18:10] ronaldtse opened #351 "PDF: Overflowing revision history table to the right"
<img width="663" alt="Screenshot 2022-01-17 at 2 09 27 AM" src="https://user-images.githubusercontent.com/11865/149672260-1f8500e8-0f5f-45d6-88f6-88ac1b85916a.png">

Document: https://github.com/metanorma/ogc-citygml2

[2022-01-16 18:12] ronaldtse commented on #351
Can't upload XML since it's too large...

[2022-01-16 18:13] ronaldtse opened #352 "Failures in fetching some references"
[code]

[2022-01-16 18:15] ronaldtse commented on #352
@andrew2net any idea how to cite the W3C standards? Thanks! (ping @anermina @manuel489 )

[2022-01-16 20:09] Intelligent2013 commented on #351
@ronaldtse  some tables are wide. For instance `width=754`:
from ak-revision_history.adoc :
[code]

Effective width of page for OGC documents is: 215.9mm (8.5in) - (left margin 35mm + right margin 17mm) = 163.9mm (6.45in).

Table width is 754px.
Resolution is 96dpi.
754 / 96 = 7.85in - this is real width of the table. I.e. overflow size is 7.85-6.45=1.4in (35.5mm)

I.e. maximum size for table  is:

[2022-01-16 20:12] Intelligent2013 commented on #351
Except Revision History table, there are another wide tables, for instance Table 1, Table 2:
[code]
![image](https://user-images.githubusercontent.com/5559926/149676286-ea568766-191e-4548-aeb8-fae86c6816f9.png)

[2022-01-17 00:13] andrew2net commented on #352
@ronaldtse suppose we should use these references:
`W3C XML Base` -> `W3C REC-XMLBase-20010627` or `W3C REC-XMLBase-20090128`
`W3C XMLSchema-1` -> `W3C REC-xmlschema-1`
`W3C XMLSchema-2` -> `W3C REC-xmlschema-2`
`W3C XPointer` -> `W3C WD-XPTR-XPointer-20021219`
`W3C XLink` -> `W3C REC-XLink-20010627`
`W3C XML` -> `'W3C REC-XML`
`W3C XMLName` -> `W3C REC-XML-names`

[2022-01-17 12:38] opoudjis commented on #349
Ronald, you are not understanding what I am saying.

Professional translations is emphatically NOT a distraction, if the workflow is of a translator using machine translation as a starting point to do bulk translation. Such translators will use a translation workbench tool, such as (to pick the first instance I've googled) https://www.memsource.com/translation-software/ . Such a tool will include

[2022-01-18 14:13] opoudjis opened #353 "Structured contributors in PDF"
Follow-on from #336

We are adding contributors with `contributor[role/@type = 'contributor']` to OGC. These are to be rendered separately from Authors and Editors in the cover page.

[2022-01-18 14:28] #336 closed

[2022-01-19 12:10] opoudjis commented on #339
We deliberately put the admitted term on the same line because of https://github.com/metanorma/metanorma-ogc/issues/256

Nothing happens without explicit authorisation from OGC, we can't keep doing and undoing formatting changes.

[2022-01-19 12:22] ronaldtse commented on #339
In #256 the request wasn't to put alternative designations on the same line...

In fact, the PDF layout has been updated to have alternative designations on separate lines (#350), we should follow that. Do you prefer a new ticket or reopening of this one?

[2022-01-19 12:34] opoudjis commented on #349
OK, given that the workflow envisioned is *not* one of a professional translator using a workbench:

* Automated translation of XML source may preserve inline tags and attributes in formatting; that's not guaranteed, and if it does not, we may need to postprocess the XML. It would be much simpler to do the translation of asciidoctor source.
* Automated translation of asciidoctor source will still

[2022-01-19 12:40] ronaldtse commented on #349
I respectfully disagree:

1. We do not have a proper AsciiDoc parser that provides a parse tree suitable for translation. Any regex hack would just make the flow more fragile that it needs to be.
2. The XML source is the only source of truth for the Metanorma document. Remember that the model-based standards code only unrolls content in the XML source, not the AsciiDoc source.

i.e. We should use

[2022-01-19 12:44] ronaldtse commented on #349
The talk about "professional translators" is irrelevant to our task at hand right now.

Here are the facts:
1. The Japanese translation will be published in Metanorma.
2. The English source document is available in Metanorma AsciiDoc and XML.
3. The Japanese translator wishes for some machine translation assistance to start with.

We just have to do whatever possible with these.

[2022-01-19 13:29] opoudjis commented on #349
Google will skip HTML but not non-HTML XML markup (behaviour varies between languages).

Serialising the Asciidoctor parse tree into pseudo-HTML is itself a major venture, requiring a new parser, and the Asciidoctor parse tree cannot be relied on as stable.

The alternative is likely going to be quite lossy: source Asciidoctor > source Metanorma XML > source Metanorma Pseudo-HTML (substituting arb

[2022-01-19 13:37] #339 closed

[2022-01-20 18:43] ghobona opened #356 "Replace text of License Agreement with a reference"
Please replace the text of the License Agreement with a reference to this web page on the OGC website https://www.ogc.org/license

An illustration is below.

![LicenseAgreement](https://user-images.githubusercontent.com/18121038/150401657-fee8c925-3070-4f31-a605-ac075669ac09.png)

[2022-01-25 19:25] gbuehler opened #357 "CLI failing to load stix_two_math font causes pipeline to fail"
I have attempted to run Metanorma via the .gitlab-ci.yml file on the Gitlab pipeline and also locally

on several different repositories (one of which build successfully yesterday with no changes)

Here is the snippet of the log:

[code]

I understand that the issue is with the font package, but is there a way to bypass such problems?

[2022-01-26 07:02] ronaldtse commented on #357
Thank you @gbuehler (also ping @ghobona), we will deal with this issue here: fontist/formulas#98

[2022-01-26 07:05] ronaldtse commented on #357
@gbuehler @ghobona there is one way to avoid these remote font issues once and for all -- to host these fonts internally from OGC. That may require removal of support for non-open-source fonts. Is that an option?

[2022-01-26 12:30] opoudjis opened #358 "Cited sourcecode block"
The content of `<quote>` is indented. If a `<sourcecode>` block is embedded within a `<quote>`, it is not currently indented in PDF:

[code]

This is potentially a global issue.

[2022-01-26 12:32] opoudjis commented on #358
<img width="900" alt="Στιγμιότυπο 2022-01-26, 23 31 28" src="https://user-images.githubusercontent.com/1911039/151163473-e06bbce0-c476-4c00-9d0b-00227aecbdf0.png">

[2022-01-26 17:01] #358 closed

[2022-01-27 12:51] opoudjis opened #359 "Cross-references to list items misnumbered"
[code]

The list items are numbered as c), d), but crossreferenced as 3), 4)

[2022-01-27 16:07] gbuehler commented on #357
@ronaldtse
I would think that this could be an optional  flag, so

--use-local-fonts
 --agree-to-terms

should be exclusive flags.   Then I would only use the local fonts as a work around for when fonts break.

Would that make sense?

[2022-01-31 11:42] opoudjis commented on #359
Requires https://github.com/metanorma/isodoc/issues/245 to be actioned: need to know what the ol/@type is at the time Presentation XML is generated.

[2022-02-01 08:47] ghobona commented on #328
@ronaldtse Thanks.

`:htmltoclevels:` works.

[2022-02-01 08:47] #328 closed

[2022-02-01 13:01] opoudjis commented on #359
It turns out that the list was being numbered underlyingly in OGC with arabic type, and that was being ignored in the rendering but not the cross-referencing. If the typing is to be set by isodoc, we have to ignore it in standoc universally, for the same reason we impose consistent nested numbering of lists following ISO globally — for clearer referencing.

[2022-02-06 13:56] opoudjis commented on #324
OK, I will trigger that error in case "charter" is requested, but it remains the case that this is not going to be recognised in Metanorma, it will generate legacy OGC Asciidoctor HTML.

[2022-02-06 14:02] opoudjis commented on #324
Implementing this ends up requiring a custom error to be generated in metanorma-ogc, to override the error message for a missing template given in https://github.com/metanorma/metanorma-cli/blob/278a54093e0dd1659c0170786f7eaac6af240286/lib/metanorma/cli/generator.rb#L53

[2022-02-06 14:26] #324 closed

[2022-02-09 10:00] opoudjis opened #361 "Exclude subfigures from index of figures"
<img width="645" alt="Στιγμιότυπο 2022-02-09, 21 00 29" src="https://user-images.githubusercontent.com/1911039/153173940-c22c0721-b08d-47ad-9992-a30569be83bb.png">

[2022-02-09 10:13] opoudjis opened #362 "PDF: Exclude subfigures from index of figures"
Follow-on from #361:

There is no reason to list the subfigures separately from figures in an index of figures

![](https://user-images.githubusercontent.com/1911039/153173940-c22c0721-b08d-47ad-9992-a30569be83bb.png)

[2022-02-09 10:17] opoudjis commented on #361
I've excluded subfigure captions from the index, but I also need to style them in a distinct paragraph style, identical to figure caption, so they won't be added back in when ToC is regenerated.

[2022-02-09 10:23] #361 closed

[2022-02-09 10:40] Intelligent2013 commented on #362
@opoudjis does this task relate for empty subfigure's title or for all? For instance, there are cases, when subfigures titles aren't empty:
![image](https://user-images.githubusercontent.com/5559926/153181084-f461fb5a-29c5-41a9-9d24-927636c35735.png)

[2022-02-09 10:41] opoudjis commented on #362
In my opinion, it does apply to all subfigures, but let's confirm with @ronaldtse

[2022-02-09 11:21] ronaldtse commented on #362
I think we should still display subfigure captions. Why do we want to omit them?

[2022-02-09 12:06] opoudjis commented on #362
Because particularly if the subfigures don't have captions (and they often don't, as in the example above), what value are they adding? But won't insist.

[2022-02-09 12:58] opoudjis commented on #362
Annuled

[2022-02-09 12:58] #362 closed

[2022-02-09 12:59] opoudjis commented on #361
Annulled

[2022-02-10 00:56] ronaldtse opened #364 "PDF: Annex subsections should be styled in the same font size as normal subsections"
<img width="580" alt="Screenshot 2022-02-10 at 8 55 45 AM" src="https://user-images.githubusercontent.com/11865/153316152-00b9257d-57f3-499c-97d3-066831e8d82a.png">

[2022-02-10 01:07] ronaldtse opened #365 "PDF: reduce list bullet indentation and list item indentation"
The indentation amount now causes text to be pushed to the right (not enough space).

Can we reduce both the:
* list bullet indentation
* list text indentation from the bullet
?

We still want these two indentations to be "balanced" (equal whitespace for both types). Thanks!

![image](https://user-images.githubusercontent.com/11865/153316749-ee854d64-cdbb-4356-8f0f-d1dfa60e0482.png)

This is quite

[2022-02-10 04:18] ronaldtse opened #366 "(URGENT) HTML: LucidChart generated SVGs appearing with broken text"
I have encountered this problem in authoring OGC 21-035r1:
http://ogc.pages.ogc.org/T17-D022-Model-Driven-Standards-ER/documents/document.html

(For those with access, the repo is at https://gitlab.ogc.org/ogc/T17-D022-Model-Driven-Standards-ER/)

Here's the HTML output from Metanorma:

Figure 1:

PDF | HTML
--|--
<img width="589" alt="Screenshot 2022-02-10 at 12 13 18 PM" src="https://user-images

[2022-02-10 06:40] Intelligent2013 commented on #365
Done:
![image](https://user-images.githubusercontent.com/5559926/153351639-aac8fb74-76cc-4b1b-beb2-b9822f4bd360.png)

[2022-02-10 06:41] Intelligent2013 commented on #364
Done:
![image](https://user-images.githubusercontent.com/5559926/153351942-22587f45-c336-4878-ba61-ab63fae332f5.png)

[2022-02-10 08:03] opoudjis opened #367 "Add requirement label to requirement caption automatically"
So _Requirement 1: /req/xxxx_. This will make cross-references more intelligible, including from ToC.

[2022-02-10 11:38] ronaldtse commented on #367
Thanks @opoudjis , would be much better than this!

<img width="551" alt="Screenshot 2022-02-10 at 7 38 44 PM" src="https://user-images.githubusercontent.com/11865/153401535-f81dbb39-2624-471a-bc1e-3eb45918240c.png">

[2022-02-10 11:42] opoudjis commented on #366
Because imagemaps are currently already working in 10303, and are assuming globally unique ids, we don't want to just append suffixes to all ids in all svgs: we only want to do so in non-unique ids. This means we do have to iterate through all svgs. Per the makeIdsUnique method in https://github.com/iconfu/svg-inject/blob/master/src/svg-inject.js , that's going to be quite an expensive transformat

[2022-02-12 11:26] #366 closed

[2022-02-13 11:17] ronaldtse opened #368 "From IETF: Updated guidance of citations to RFC/RFC subseries/Internet-Drafts"
The IETF has provided authoritative opinion on citations of RFCs, RFC subseries, Internet-Drafts. These are the ones that will affect OGC practices.

1. These citations should not carry the prefix of "IETF"
  * https://github.com/ietf-ribose/bibxml-service/issues/59
2. These citations should not carry a place of publication.
  * https://github.com/ietf-ribose/bibxml-service/issues/112

This is jus

[2022-02-16 11:32] ghobona opened #369 "Policy template generated broken Normative References section"
Using the latest docker image to build a policy document generates a 'broken' references section. See attached.

![Screenshot 2022-02-16 at 11 28 30](https://user-images.githubusercontent.com/18121038/154256228-c41f426e-d18a-4282-9020-ff9df9b30a9b.png)

The source files are in this archive.

[OGCNANameTypeSpecificationForDefinitions.zip](https://github.com/metanorma/metanorma-ogc/files/8079491/OGC

[2022-02-16 12:28] opoudjis commented on #367
The label is already given a heading row in the table, so I will only include it in the crossreference.

[2022-02-16 13:36] opoudjis commented on #367
I've implemented these xrefs, which is a value add to OGC; but it turns out that the PDF ToC is generated autonomously by @Intelligent2013,  and not (currently) out of Presentation XML. So I'll assign him a separate task.

[2022-02-16 13:41] opoudjis opened #370 "PDF: Add requirement label to requirement caption for ToC"
Follow-on from https://github.com/metanorma/metanorma-ogc/issues/367

In the table of contents, you currently give the label of the requirement:

![](https://user-images.githubusercontent.com/11865/153401535-f81dbb39-2624-471a-bc1e-3eb45918240c.png)

It is desired to append to this the label of the requirement if present; e.g.

[code]

This is currently indexed as "Recommendation 1" in the Recomme

[2022-02-16 13:43] opoudjis commented on #367
Add RecommendationLabel class to paragraph containing recommendation labels, so that ToC entry can identify and include it.

[2022-02-16 14:02] #367 closed

[2022-02-16 15:18] Intelligent2013 commented on #370
Done.
Rendering example (I've added `class="RecommendationLabel"` manually  in my xml sample):
![image](https://user-images.githubusercontent.com/5559926/154295503-3297ab2c-9a2f-4234-a213-4df106c35a38.png)

[2022-02-16 15:18] #370 closed

[2022-02-19 08:40] opoudjis opened #372 "Submitters displayorder is wrong"
Follow-on from https://github.com/metanorma/metanorma-ogc/issues/314

The displayorder of "submitters" is incorrect:

[code]

@Intelligent2013 You don't need to change anything, but this is a bug for me to fix.

[2022-02-19 15:39] Intelligent2013 commented on #372
@opoudjis OGC xslt updated. Now the sections render in sorting order based on `@displayorder` value.

[2022-02-22 13:22] #359 closed

[2022-02-23 09:34] #372 closed

[2022-02-25 15:06] ghobona opened #374 "Add a way to mark dependencies as indirect"
Some requirements may be direct and others may be indirect. A definition is in Clause 4.10 of the [ModSpec](https://portal.ogc.org/files/?artifact_id=34762).

Please add a way to mark dependencies as indirect, as illustrated on the attached figure.

![Screenshot 2022-02-25 at 14 59 52](https://user-images.githubusercontent.com/18121038/155737828-dfc30040-8b16-44e4-8a8d-dfd1bac675c2.png)

[2022-03-19 05:41] #365 closed

[2022-04-22 10:30] ghobona opened #376 "Generated templates should not include introductory paragraph of Terms and Definitions section"
When generating a document template using metanorma,  the text highlighted on the following screenshot is automatically added to the template.

![Screenshot 2022-04-22 at 11 23 52](https://user-images.githubusercontent.com/18121038/164691591-2c40040b-14d3-4bbb-a08a-931dc76db1e1.png)

However, when compiling the document, similar text is automatically added above the text that was provided in the t

[2022-04-22 16:23] opoudjis commented on #218
https://github.com/metanorma/metanorma-ogc/issues/46

[2022-04-23 06:27] opoudjis commented on #46
This ticket can now be actioned, with the relaton-render gem being used to generate references for ISO 690 in general.

[2022-04-25 12:00] opoudjis commented on #218
Changes to isodoc are forcing the fact that rerunning `@xrefs.parse` within Presentation XML generation is overwriting elements it should not. Adding option to restrict which xrefs get reparsed dynamically.

[2022-04-25 13:18] opoudjis commented on #218
Need to retain status in Presentation XML bibitem, because it is still used to generate crossrefs ("Draft"). In general, so long as the formattedref is present, the other semantic elements of the bibitem are harmless.

[2022-04-25 15:30] #218 closed

[2022-04-26 03:16] manuelfuenmayor opened #378 "HTML: odd behavior of side table of contents"
Table of contents in HTML output gets broken when clicking to retract it.

Check the page: https://docs.ogc.org/is/20-010/20-010.html

[2022-04-26 13:05] opoudjis commented on #46
Ronald thinks using the existing Springer LNCS stylesheet under CSL is a good idea.

Uhuh.

https://github.com/citation-style-language/styles/blob/6152ccea8b7d7a472910d36524d1bf3557a83bfc/springer-lecture-notes-in-computer-science.csl

https://github.com/inukshuk/csl-ruby

[2022-04-27 03:53] ronaldtse commented on #24
A hark back to the past: with the implementation of https://github.com/metanorma/metanorma-standoc/issues/618 , we are now able to handle custom fonts (as long as the font is supported in Fontist). We can technically use the MetPy symbols (https://github.com/Unidata/MetPy/blob/cee9d4de5bc37a4cd2efc381f0a08f3a53d00940/metpy/plots/fonts/wx_symbols.ttf) in Metanorma.

The challenge is that the MetPy

[2022-04-27 10:56] opoudjis commented on #46
Waiting on https://github.com/relaton/relaton-bib/issues/56, to generate citeproc.

[2022-05-01 11:54] Intelligent2013 opened #380 "i18n of Version"
Source: https://github.com/metanorma/metanorma-iso/issues/641

Currently, the data from
[code]
renders with title 'Version':
![image](https://user-images.githubusercontent.com/5559926/166144594-d623e264-eac6-411a-88fb-bd7614c0dde6.png)

but localized string is 'edition':
[code]

May be would be better to add one more localized string like this:
[code]

This ticket relates also to 'M3AAWG' and 'Rib

[2022-05-01 14:29] #380 closed

[2022-05-04 01:45] ronaldtse commented on #329
From @ghobona:

[2022-05-10 02:40] ronaldtse commented on #378
@s4birli would you be able to help here?

[2022-05-10 12:55] gbuehler opened #381 "pipeline failing on all OGC Gitlab repositories - maybe gemfile-to-bundle the issue"
Wondering if the bundling of gems is causing a problem in the OGC Gitlab repositories:

For example, this following job worked several weeks ago, there have been no changes to the repository.  I can run metanorma locally and the repo builds fine.  Yet, I now run the build in the Gitlab again and it fails:

  https://gitlab.ogc.org/ogc/T17-D022-Model-Driven-Standards-ER/-/jobs/4508

When I comment

[2022-05-10 12:59] ronaldtse commented on #381
@gbuehler very sorry about this. @CAMOBAP do you know what's happening?

[2022-05-10 13:00] ronaldtse commented on #381
The failure is:

[code]

[2022-05-10 13:00] ronaldtse commented on #381
Why is this using a pre.alpha gem?

[2022-05-13 06:30] CAMOBAP commented on #381
@gbuehler thanks for reporting

I would like to highlight:
 - `metanorma/mn` is not supported anymore we need to migrate to `metanorma/metanorma` (we several variations with different base images, the full list is here https://hub.docker.com/repository/registry-1.docker.io/metanorma/metanorma/tags?page=1&ordering=last_updated)

Also, we recently updated our docker images, @gbuehler could you pleas

[2022-05-25 18:30] ronaldtse opened #383 "(URGENT) Failure of footnote reference syntax `footnote:ref[]`"
In https://github.com/metanorma/isodoc/issues/155 the syntax `footnote:ref[]` can be used to reuse a footnote called `ref`.

It is not working in OGC HTML and PDF.

[code]

Rendered as:

PDF:
<img width="657" alt="Screenshot 2022-05-26 at 2 29 35 AM" src="https://user-images.githubusercontent.com/11865/170340118-7845f024-9a7b-4d31-a73c-42ff4638b8ff.png">

HTML:
<img width="887" alt="Screenshot 202

[2022-05-28 12:23] opoudjis commented on #383
Normal footnotes and table footnotes are processed separately. As normal footnotes, the behaviour is correct; the redundant footnotes need to be extended to tables.

[2022-05-28 13:10] opoudjis commented on #383
The bug is: if asciidoctor formatting is used in a table, the cell has no visibility of any other footnotes in the document. I suspect that is because each table cell is treated as a brand new document, without inheriting the footnotes generated elsewhere.

In any case, I don't see an earthly reason why you're saying that the cells need to be Asciidoctor documents to begin with. Just make this `[c

[2022-05-28 13:21] opoudjis commented on #383
Raised as https://github.com/asciidoctor/asciidoctor/issues/4295

I can't fix this, and suggest you avoid this scenario.

[2022-05-28 13:21] #383 closed

[2022-05-28 14:59] opoudjis commented on #378
Once @s4birli has actioned this, let me know so I can incorporate into metanorma. Right now, I cannot do anything about this.

[2022-05-29 13:04] opoudjis commented on #341
I'm closing this issue. If OGC can't provide feedback within 6 months, they can raise a new ticket if they don't like it.

[2022-05-29 13:04] #341 closed

[2022-06-03 17:54] gbuehler opened #385 "Large single line Source Code example files in PDF generation"
When we try to add the following source code block to the asciidoc, the Metanorma pipeline fails on PDF generation.  It is a single line of 6035 characters.

[code]

 If I remove the pdf from generation, I can get the pipeline to process the xml, doc, and HTML.  However the HTML is a single line:

![Screen Shot 2022-06-03 at 9 20 46 AM](https://user-images.githubusercontent.com/221625/171918524-d5

[2022-06-03 19:19] Intelligent2013 commented on #385
The error
[code]
occurs due the long source code's text in the xsl template `add_spaces_to_sourcecode`. This template add zero-width spaces into the long string. I'll investigate how to fix it.

[2022-06-03 19:44] Intelligent2013 commented on #385
Issue fixed:
![image](https://user-images.githubusercontent.com/5559926/171938838-02dd579b-0446-4b0f-a35f-a7ff3ecffb11.png)
(test document rendering)

Updated xslt should be available here: https://github.com/metanorma/metanorma-ogc/tree/main/lib/isodoc/ogc after in ~30min.

[2022-06-04 01:46] ronaldtse commented on #385
Thanks @gbuehler for reporting and @Intelligent2013 for fixing. I believe the next release will be on Monday 2022-06-06, so let's try the released version on Monday.

[2022-06-15 00:26] ronaldtse opened #386 "(URGENT) Notes with multiple paragraphs inside are shown as one single paragraph"
From @anermina:

![image](https://user-images.githubusercontent.com/55683568/173700061-f30f85e6-7bec-4f5b-9d98-7103fbb4c8a4.png)
vs. original:
![image](https://user-images.githubusercontent.com/55683568/173700104-0fcd4f19-4077-47a8-a499-21587078542b.png)

I can confirm this -- the paragraphs inside a NOTE are all mixed into one.

In HTML it is kept as separate paragraphs though.

<img width="794"

[2022-06-15 00:35] ronaldtse opened #387 "(URGENT) PDF: Document subtype missing"
In https://github.com/metanorma/ogc-modspec/pull/3 this document is a "conceptual model standard" with doctype `standard` and docsubtype `conceptual model`.

According to the original PDF design, the subtype is supposed to show if it is provided.

NOTE: Please ignore the different treatment of the document attributes at the bottom. @Intelligent2013 let's discuss any differences between the impleme

[2022-06-15 01:05] ronaldtse opened #388 "(URGENT) Broken `formattedref` in some ISO bibliographic entries"
Some bibliographic entries from ISO are not rendering correctly with a broken `formattedref`.

<img width="496" alt="Screenshot 2022-06-15 at 10 02 29 AM" src="https://user-images.githubusercontent.com/11865/173714311-43067010-7f08-4359-9141-acc1345f6dcf.png">

This is clearly a Metanorma issue as the formattedref is broken:

[code]

[code]

_Originally posted by @ronaldtse in https://github.com/m

[2022-06-15 07:44] Intelligent2013 commented on #386
Fixed:
![image](https://user-images.githubusercontent.com/5559926/173771534-82680611-15fc-4f28-87f1-da4f63c848dd.png)

[2022-06-15 08:16] Intelligent2013 commented on #387
In xslt there is a mapping table between the value in `docsubtype` and dispayed text:
[code]
but in mn xml the element `subdoctype` is using instead of `docsubtype`:
[code]
I don't figure out why `docsubtype` is using... Will change to `subdoctype`.

- identifier
![image](https://user-images.githubusercontent.com/5559926/173775303-43e2a3fa-5991-4785-b5f6-044188e04df6.png)
With title `OGC® DOCUMENT

[2022-06-15 10:06] opoudjis commented on #388
First issue is that the reference is not being recognised: it's ISO/IEC 9075-1:2003, but ISO/IEC 9075 returns no hits at all.

The second issue is that relaton-render needs to be more forgiving. What is currently being returned  fed into it, because the citation is not being recognised, is:

[code]

relaton-render is explicitly looking for an abbreviation of the publisher, and not finding it. It n

[2022-06-15 10:09] #388 closed

[2022-06-15 11:13] Intelligent2013 commented on #387
Fixed:
- docsubtype added
- empty title `External Identifier...` removed:
![image](https://user-images.githubusercontent.com/5559926/173813458-e74d06ec-194a-40a8-8b74-379615635ef7.png)

[2022-06-15 15:33] Intelligent2013 opened #389 "The process hangs after relaton error"
I'm trying to generate presentation xml for https://github.com/metanorma/ogc-modspec.
[code]
Log:
[code]
And nothing... I've waited 10min and there isn't any activity after the last line `[relaton-iso] ("ISO/IEC 19501") found ISO/IEC 19501:2005`

[2022-06-15 15:40] Intelligent2013 commented on #389
The issue occurs due the line
[code]
in `ad-bibliography.adoc`.

[2022-06-15 15:49] Intelligent2013 opened #390 "Missing `displayorder` for Conformance"
Source document: https://github.com/metanorma/ogc-modspec

### Issue:
Wrong section `Conformance` position in the rendered PDF:
![image](https://user-images.githubusercontent.com/5559926/173870261-5dddbfa2-a11d-43e7-871b-fd75abc84638.png)

### Reason:
In the presentation xml there isn't the attribute displayorder for section `2. Conformance`:
[code]

[2022-06-15 15:50] opoudjis commented on #389
Cannot replicate, but will need to try to catch crashes in async fetching, this has happened before...

[2022-06-15 15:57] Intelligent2013 commented on #389
Hmm, done successfully too. After 3 attempts.

[2022-06-16 01:21] ronaldtse commented on #389
The gang may be due to relaton-ogc , even though this has been fixed before. It might be a regression. @andrew2net can you help check?

[2022-06-16 12:22] Intelligent2013 commented on #389
@andrew2net no, the same user, the same cmd console. 1st and 2nd attempts hang, but 3rd ended successfully.

[2022-06-16 12:59] opoudjis commented on #389
By the way, I see that errors are being caught in the main async loop:

[code]

but crashes like this are resulting in the thread never being closed:

[code]

Async is not my strength. Is this because, if the crash happens,  and the rescue is invoked,

[code]

needs to be suppressed?

[2022-06-16 13:13] #390 closed

[2022-06-16 13:28] andrew2net commented on #389
It catches `RelatonBib::RequestError` only now, but we have `Errno::EACCES` in this case. I'll make the script catch any errors, log them and return nil (which means the document isn't found).

[2022-06-19 09:28] #389 closed

[2022-06-22 15:08] #368 closed

[2022-07-05 15:01] opoudjis commented on #349
Unassigning myself, I won't have time to do this, and I've outlined what needs doing

[2022-07-12 11:23] ronaldtse commented on #385
@gbuehler can we confirm that this issue is fixed? Thanks.

[2022-07-14 16:17] ghobona commented on #374
@opoudjis Any update on this ?

[2022-07-21 13:17] manuelfuenmayor opened #394 "Conformance tests unable to link to requirements containing IDs"
In relation to https://github.com/metanorma/ogc-GeoPose/pull/2

According to my tests, it seems that conformance tests are unable to link to
their corresponding requirements when the latter contain an `id` value.

[code]

From this configuration I get:
[code]

If I remove `id="req11"`, the problem gets solved.

[2022-07-24 12:54] ronaldtse commented on #394
@manuelfuenmayor why do we have need an "id" value?

This line:
[code]

Already links the conformance test with the requirement?

[2022-07-24 13:23] manuelfuenmayor commented on #394
@ronaldtse well, that comes from original source... So I didn't want to remove it because I didn't know if it was necessary in some aspect. Are going to need it?

[2022-07-24 15:38] ronaldtse opened #395 "ModSpec implementation refinement: link between requirement/conformance test and classes only needs to be defined one-way"
Links between these objects only require definition from one (1) end:
- requirements class and conformance class
- requirement and conformance test

i.e.
[code]

This should render both the Requirements class and Conformance class with a link (or links) to each other.

[2022-07-24 16:00] ronaldtse opened #396 "ModSpec implementation refinement: use `id` and `identifier` as metadata labels for the definition list"
The name of `label` for the ModSpec instance identifier makes no sense at all.

It is the unique identifier of the instance (a URI), and therefore should be called `identifier` or `id` (as a shortcut).

Moreover, this `id` must be a PLAIN STRING because it is **a URI**. Anything else is wrong.

This is from https://www.metanorma.org/author/ogc/topics/requirements/:
[code]

It should just be:
[code

[2022-07-24 16:50] ronaldtse opened #397 "ModSpec implementation refinement: `id` accepting fields should only accept IDs"
In ModSpec instance specifications, there are fields that take `id`s of other instances (their URIs) as identifiers.

e.g.

[code]

The fields are:
* `inherit` in requirements class, conformance class, requirement, conformance test
* `requirement` in requirements class, conformance test
* `conformance-test` in conformance class, requirement

In the current implementation,
* conformance test (of wh

[2022-07-24 17:51] ronaldtse opened #398 "ModSpec implementation refinement: conformance test should accept `requirement` field to link to requirement"
Right now we take this input:
[code]

But `subject::` is incorrect. It should have been `requirement::`.

i.e.
[code]

[2022-07-24 17:53] ronaldtse opened #399 "ModSpec implementation refinement: conformance class should accept `requirements-class` field to link to requirements class"
Right now we take this input:
[code]

But `subject::` is incorrect. It should have been `requirements-class::`.

i.e.
[code]

[2022-07-24 17:54] ronaldtse commented on #394
I've investigated, we should remove all of those.

[2022-07-27 02:05] manuelfuenmayor opened #401 "Conformance class not linking to Requirement Class when URI is provided as subject"
As described in @ronaldtse's [comment](https://github.com/metanorma/ogc-GeoPose/pull/2#discussion_r928285539).
A conformance class subject attribute should point to the URI of their
corresponding Requirement Class, through the `subject` attribute.

For example, following conformance class:

[code]

Should be linked to:

[code]

However, this is not happening:
[code]

[2022-08-02 12:05] opoudjis commented on #394
I agree.

The link from conformance test to requirement is made in `subject:: <<req_time_geopose_instant_sdu,Requirement "GP-Instant-SDU">>`. That link, obviously, requires the anchor of the requirement block to be req_time_geopose_instant_sdu

If you provide an id attribute for that requirement, that id will override the supplied anchor! As far as I know, that's built in Asciidoctor behaviour ---

[2022-08-02 12:05] #394 closed

[2022-08-02 12:38] opoudjis commented on #395
.... Huh?

There is no "requirements-class" attribute. The links are already bidirectional, you're just not specifying the subjects in a format that metanorma-ogc recognises:

[code]

i don't know what universe `subject:: Target Type:SDU` comes from, but in what I've actually implemented, the subject of a conformance class is a concrete crossreference (by anchor ID or by xref) to the corresponding

[2022-08-02 12:41] opoudjis commented on #398
`But subject:: is incorrect. It should have been requirement::`.

This is a new requirement, and I don't regard it as legitimate. Not implementing until we have discussed this. If the requirement is not the subject of the test, *then what else is?!* The requirement for descriptive text is already satisfied by formulating the subject as a crossreference.

[2022-08-02 13:01] opoudjis commented on #398
Sigh.

I'm implementing this as `target::` on both conformance test and conformance class, and the content of target shall be the bare anchor of the requirement/requirement class, rather than a cross-reference. The presentation as "Requirement class" or "Requirement" will be automated; so will the bidirectional link.

[2022-08-02 13:18] opoudjis commented on #398
And this target is not going to added as a new metadata element. We are going to freeze the elements of the requirement submodel, and use "classification" as the extension point for any flavour-specific metadata.

So:

[code]

I will use labels instead of Metanorma anchors as the content of the target, because @ronaldtse said so.

I am therefore breaking all compatibility with Requirement model en

[2022-08-02 13:37] ronaldtse commented on #398
In the context of a "conformance test", "subject" is commonly understood as the thing being tested, i.e. not the requirement, but the thing that the requirement applies to.

What exactly is "classification"? Why do we use "classification" to accept key value pairs, when we can just allow free-form attributes instead?

[2022-08-02 13:37] ronaldtse commented on #398
We will use "id" and have "label" as a compatible keyword. It is an important change.

[2022-08-02 13:40] ronaldtse commented on #395
I have no idea what `subject:: <<a1,Target Type:SDU>>` even means. This link should be:
[code]

No one should use anchor names for specifying links between requirements, requirements classes and the counterparts in conformance testing.

[2022-08-02 14:47] opoudjis commented on #398
identifier. We cannot deal in UML with an attribute and an element having the same name.

This is change destabilising the existing tagset, and I am doing this under protest.

[2022-08-02 15:14] opoudjis commented on #399
It will be target:: . The rendering of the target as Requirements Class or as Requirements is already being taken care of in the existing implementation. Merging ticket into https://github.com/metanorma/metanorma-ogc/issues/398

[2022-08-02 15:14] #399 closed

[2022-08-02 15:17] opoudjis commented on #401
Well, we're doing it (grrrr). The current implementation is being abandoned in favour of target:: and labels. Merging into https://github.com/metanorma/metanorma-ogc/issues/398

[2022-08-02 15:17] opoudjis commented on #398
As a result of this acutely painful discussion:

* Links from tests to requirements will be encoded as `classification:: target:{label}`, where `{label}` is the identifier of the requirement from the requirement domain (as opposed to the Metanorma anchor)
* The [%metadata] syntax will be modified, so that any unrecognised definition list term is treated as a classification tag
* The `label` tag fo

[2022-08-03 13:33] opoudjis commented on #395
Done in https://github.com/metanorma/metanorma-ogc/issues/398

[2022-08-03 13:33] #395 closed

[2022-08-03 13:33] opoudjis commented on #401
Done in https://github.com/metanorma/metanorma-ogc/issues/398

[2022-08-03 13:33] #401 closed

[2022-08-03 13:59] #398 closed

[2022-08-05 16:37] ghobona opened #403 "PDF version swaps Conformance and Scope sections"
The generated PDF appears to swap the Conformance and Scope sections around.

![Screenshot 2022-08-05 at 17 36 35](https://user-images.githubusercontent.com/18121038/183121985-4c704c51-791a-49c6-89cc-f2a692922e90.png)

Please fix the problem so that the sections are arranged in the same way as the HTML version.

[2022-08-05 18:54] Intelligent2013 commented on #403
@ghobona could you point me to the odocument adoc, please? Thanks.

[2022-08-05 20:01] ghobona commented on #403
@Intelligent2013 There are two documents.

The first and more urgent one is in this `1.0.1` branch https://github.com/opengeospatial/ogcapi-environmental-data-retrieval/tree/1.0.1

The second one is https://github.com/opengeospatial/ogcapi-common/pull/316

Both documents appear to be affected the same.

[2022-08-06 06:19] Intelligent2013 commented on #403
It seems the issue relates to fixed issue https://github.com/metanorma/metanorma-ogc/issues/390, but I can't check it due the processing error https://github.com/metanorma/metanorma-standoc/issues/659. I'll return here after fixing it.

[2022-08-06 08:47] ronaldtse commented on #403
@ghobona I'm looking at this now.

[2022-08-08 17:00] Intelligent2013 commented on #403
@ghobona I can't repeat this issue. Looks like, it fixed earlier (https://github.com/metanorma/metanorma-ogc/issues/390). With latest gems, both rendered PDF look correct:
![image](https://user-images.githubusercontent.com/5559926/183469282-b7d8c454-b3c1-4c94-ad81-d0ca0a56fbd1.png)

Please make sure that you've installed the latest updates.

[2022-08-08 17:41] ghobona commented on #403
Thanks @Intelligent2013.

We will update the gems and try compiling the document again.

[2022-08-08 19:25] ghobona commented on #403
@Intelligent2013 The problem is still there after running `docker pull metanorma/mn:latest`.

@ronaldtse Does that mean metanorma-docker has not been updated with the latest gems?

[2022-08-10 10:55] ronaldtse commented on #387
Thank you! Regarding `subdoctype` vs `docsubtype` let's file a new issue.

[2022-08-10 10:55] #387 closed

[2022-08-10 13:23] opoudjis commented on #396
Have done, as identifier not id.

[2022-08-10 13:23] #396 closed

[2022-08-10 14:06] opoudjis commented on #397
Requirement / Conformance-Test as headings have already been implemented as `target`, taking an identifier.

Introducing hyperlinking for inherit fields, and restriction to label links.

[2022-08-10 14:12] Intelligent2013 commented on #387
I figured it out:
- `docsubtype` is the Metanorma document's attribute in adoc: `:docsubtype: ...`
- `subdoctype` is the Metanorma xml element: `<subdoctype>...</subdoctype>`. And XSLT reads data from it.

[2022-08-11 02:01] ronaldtse commented on #349
I found that LibreTranslate is a pretty good model that can be run locally.

[2022-08-12 02:25] #397 closed

[2022-08-12 11:42] opoudjis commented on #374
I'm about to look at this.

[2022-08-12 11:44] opoudjis commented on #374
Dependency is marked up as `inherit:[]`. Indirect dependency, as with every category not in our default model of requirements, shall be marked up as a metadata definition list term:

[code]

[2022-08-12 12:22] #374 closed

[2022-08-12 14:56] #273 closed, assigned to opoudjis

[2022-08-12 16:44] opoudjis commented on #46
As of right now, @ronaldtse, this is an atrociously bad idea.

* Our export to citeproc is lossy
* The citeproc import into CSL is even more lossy
*  What little bibliographic data we are getting out through citeproc looks nothing like what we have been generating, using our own renderer *which we know works*
* e.g. "Fred Johnson, Jackson KG, Nixon RM" vs "Johnson, F., Jackson, Nixon, R.M."

We ar

[2022-08-13 01:53] ronaldtse commented on #46
That was "back then" and we know that the time has changed, luckily, for the better. Now with relaton-render we are now free to pursue more complex and accurate bibliographic rendering (instead of being hostage to citeproc's internal data model that is very limited).

The way forward is definitely to define an "OGC style LNCS" using relaton-render.

[2022-08-14 12:45] opoudjis commented on #46
Which leads me to comment BUT WE HAVE ALREADY DONE THAT.

LNCS is not actually particularly big: https://github.com/citation-style-language/styles/blob/6152ccea8b7d7a472910d36524d1bf3557a83bfc/springer-lecture-notes-in-computer-science.csl

This says all of the following:

2 names: "Doe, J. and T. Williams"
3 names: "Doe, J., S. Smith, and T. Williams"

` <name name-as-sort-order="all" sort-separa

[2022-08-14 13:12] #46 closed

[2022-08-14 13:19] opoudjis commented on #335
I believe it is a very good idea, but I will concede that if the section is in the main body, it can be assumed not to be part of the preface.

The work-around for reusing a reserved section header (and we've already used it several times) is

[code]

Where if heading is something other than the title, it is not processed in the default title way. https://www.metanorma.org/author/topics/document-f

[2022-08-14 13:30] opoudjis commented on #335
So there are two types of reserved title: preface, and main. If we are in the preface, we do not recognise main titles, and if we are in the main section, we don't recognise preface titles.

[2022-08-15 17:57] ronaldtse opened #409 "Abstract tests are displayed with the label "Requirement test" not "Abstract test""
The abstract tests are being displayed with the label "Requirement test".

![Screenshot 2022-08-08 at 10 51 12](https://user-images.githubusercontent.com/18121038/183391217-ae866153-e16d-4939-9f06-1267851bc818.png)

The label should be "Abstract test" just like in https://docs.ogc.org/is/18-062r2/18-062r2.html#toc61

_Originally posted by @ghobona in https://github.com/metanorma/ogc-GeoPose/issues

[2022-08-15 18:39] ronaldtse commented on #403
@ghobona I believe this is now fixed. This is a screenshot from GeoPose. Thanks!

<img width="522" alt="Screen Shot 2022-08-16 at 2 39 13 AM" src="https://user-images.githubusercontent.com/11865/184695567-cb39d4d4-a52c-4bb1-b08e-62f9c9e53df2.png">

[2022-08-15 18:39] #403 closed

[2022-08-16 10:47] opoudjis commented on #409
<img width="852" alt="Στιγμιότυπο 2022-08-16, 20 45 58" src="https://user-images.githubusercontent.com/1911039/184861433-77b416d2-5b2e-49d4-9be4-42458f5dcf28.png">

Spurious issue.

I am much too busy to have erroneous issues raised to me. Closed with extreme prejudice, earth around it salted.

[2022-08-16 10:47] #409 closed

[2022-08-17 04:20] ronaldtse opened #410 "Broken concept mention if term includes a hyphen"
Concept mentions fail if the term referenced includes a hyphen.

[code]

[code]

[2022-08-24 07:01] ronaldtse opened #413 "Compilation failure in Metanorma-OGC with requirements"
[code]

This is from geopose.

That said I have not labeled the `:requirements-model: ogc` yet. But this ought to be default in OGC.

[2022-08-24 07:02] ronaldtse commented on #413
Same failure.

[2022-08-24 07:14] ronaldtse commented on #413
Failure occurs here: https://github.com/metanorma/ogc-GeoPose/pull/2

[2022-08-25 05:12] ronaldtse opened #414 "Requirements XML validation messages are unusable"
These messages give me no information on where to take action and what action to take.

We need something reasonable to show users. Perhaps we need to have a better validation / linking tool.

[code]

[2022-08-25 10:36] #413 closed

[2022-08-26 05:02] ronaldtse commented on #413
While the Windows platform is still not fixed, the rest are fixed. Closing.

[2022-09-01 15:26] opoudjis commented on #410
Spaces are replaced by hyphens in the anchor link, but of course, that's not reversible.

But I am not getting this issue:

`<concept><refterm>model-driven architecture</refterm><renderterm>model-driven architecture</renderterm><xref target="term-model-driven-architecture"/></concept>`

is correctly finding

[code]

For some reason, your refterm is `model-driven-architecture` instead of `model-dri

[2022-09-09 03:26] ronaldtse commented on #410
@opoudjis not sure why you're not getting the error.

I just inserted the above snippet into the GeoPose document and already see this error.

[code]

[code]

[2022-09-09 03:42] ronaldtse commented on #410
@opoudjis I've uploaded the reproducible document here: https://github.com/metanorma/ogc-GeoPose/pull/7

[2022-09-09 04:38] opoudjis commented on #410
And now I see what the issue is. We've just had something similar:

model-driven architecture is not recognised as a term, but a terms container. That's why it is not being picked up in cross-references (and why you need to provide complete documents.)

We have just had this same issue arise and addressed in https://github.com/metanorma/metanorma-iso/issues/762 , and there is now a function, expor

[2022-09-09 04:43] ronaldtse commented on #410
@opoudjis actually, they are not meant to be term containers, I just made a mistake with heading levels. Let me fix that and try again...

[2022-09-09 04:43] ronaldtse commented on #410
Indeed, it no longer happens. Thanks and closing.

[2022-09-09 05:05] opoudjis commented on #410
Reopening to prevent recurrence:

I'm going to issue warning if a concept points to something that is not a term or abbreviation. If it points to a terms collection, I'll expand the warning to note that this may be a levels mixup.

[2022-09-09 16:00] ghobona opened #418 "OGC logo is not being displayed on the generated HTML document"
This issue appears to have started today (2022-09-09).

The OGC logo is not being displayed on the generated HTML document. Please see the attached image.

The document was compiled using `docker run -v "$(pwd)":/metanorma -v ${HOME}/.fontist/fonts/:/config/fonts metanorma/metanorma metanorma compile --agree-to-terms -t ogc -x xml,html,doc document.adoc`

![Screenshot 2022-09-09 at 16 57 06](https

[2022-09-09 16:16] ghobona commented on #418
It appears metanorma is specifying the absolute path to the svg file on the local filesystem. Ideally this should a data URI containing the image.

![Screenshot 2022-09-09 at 17 11 37](https://user-images.githubusercontent.com/18121038/189395262-fc6ac083-d8a4-4703-8929-838d12521ef9.png)

[2022-09-09 18:24] ronaldtse commented on #418
For some reason I'm not seeing this with the same command using Docker, I tried with the ogc-tcpnp document:

[code]

<img width="859" alt="Screen Shot 2022-09-10 at 2 21 28 AM" src="https://user-images.githubusercontent.com/11865/189418355-4007c903-528b-48ed-8114-a69c308d7b0d.png">

I changed the dates to 2029 but this issue still doesn't appear:
<img width="886" alt="Screen Shot 2022-09-10 at 2

[2022-09-13 04:08] ronaldtse commented on #414
This is now fixed. Thanks!

[code]

[2022-09-14 18:11] manuelfuenmayor opened #419 ""No label has been processed for ID..." in certain Glossary terms"
In relation to this PR: https://github.com/metanorma/ogc-GeoPose/pull/2

"No label has been processed for ID..." message is shown for some glossary terms.
I'm not sure what could cause this issue given that the rendering of the term is
correct and its reference call (`{{<term>}}`) works as it should.

From compilation:
[code]

[2022-09-14 19:46] manuelfuenmayor opened #420 ""Requirement class has no corresponding Conformance class" error message"
In relation to this PR: https://github.com/metanorma/ogc-GeoPose/pull/2

In compilation, I get messages saying that some Requirement Classes has
no corresponding Conformance Classes when apparently there is a correspondance.

For example, I get this message:
[code]

Looking the the XML file,  Requirement class `_0149ddbf-3b64-bf53-4bee-751026c0b7ed` corresponds to:

[code]

Which has this correspo

[2022-09-15 00:52] ronaldtse commented on #420
@manuelfuenmayor this seems to be a bug. In an ISO document I can see the "identifiers" (e.g. /req/xxx) show up instead of these random GUID numbers. Is that a discrepancy?

[2022-09-15 00:55] ronaldtse commented on #418
@ghobona could you let me know which platform this docker run was performed in?

[2022-09-15 00:55] ronaldtse commented on #386
Thanks!

[2022-09-15 00:55] #386 closed

[2022-09-15 00:57] ronaldtse commented on #385
Closing since it has been fixed. Thanks!

[2022-09-15 00:57] #385 closed

[2022-09-15 00:57] manuelfuenmayor opened #421 "Odd rendering in abstract test"
In relation to PR: https://github.com/metanorma/ogc-GeoPose/pull/2

The requirement field of an abstract test is rendering badly.

For example:
[code]

renders

HTML:
![issue1-1](https://user-images.githubusercontent.com/33627611/190288325-07c0f9b3-d3ec-4c68-8899-a8bcc1377499.PNG)

DOC:
![issue1-2](https://user-images.githubusercontent.com/33627611/190288335-ae9d7b41-0c80-4d27-a9cf-7d5b5ccbf535.PN

[2022-09-15 01:20] manuelfuenmayor commented on #420
I think there were cases where I got messages in the structure you describe.
But in this document (GeoPose), I only get messages with random numbers:

[code]

[2022-09-15 01:38] manuelfuenmayor opened #422 "Establish a fixed table width for requirements in DOC output"
In relation to https://github.com/metanorma/ogc-GeoPose/pull/2

In DOC output, all requirements are laid out as table, and the width of
this table changes according of the content length.
This generates a not so appealing presentation when there are several
requirements in a row:

![issue2-2](https://user-images.githubusercontent.com/33627611/190292814-267032e5-66c4-4ec5-ba48-c3587cb90d52.PNG)

[2022-09-15 09:36] ghobona commented on #418
@ronaldtse The docker was run on macOS Catalina, as well as on GitHub Action workflows.

[2022-09-16 08:57] ronaldtse commented on #421
In the DOC, the contents of the "Abstract test" should be under a heading of "Description".

[2022-09-16 09:10] ronaldtse commented on #369
@ghobona this issue is resolved here:
https://github.com/metanorma/OGCNANameTypeSpecificationForDefinitions/issues/1

[2022-09-16 09:10] #369 closed

[2022-09-16 09:11] ronaldtse commented on #356
@ghobona can we confirm that all documents, legacy and future, will use this new license agreement content?

[2022-09-17 10:35] opoudjis commented on #414
This was an issue with the labels not being parsed (or entered) properly at the time. What is wrong with the current output?

[2022-09-18 16:44] ghobona opened #425 "Broken link on the metadata documentation page"
The link circled on the attached screenshot returns a 404 error.

<img width="1047" alt="Screenshot 2022-09-18 at 18 43 04" src="https://user-images.githubusercontent.com/18121038/190918479-cf3c5a70-67b8-413e-be99-cbb115604a0d.png">

[2022-09-19 02:48] ronaldtse commented on #414
@opoudjis the problem here is that with ISO, the requirement identifiers (URIs) are shown in the warnings. In OGC, the requirement identifiers are not shown, only the UUIDs are shown in the warnings.

[2022-09-19 07:38] ronaldtse commented on #351
@Intelligent2013 What is the best way to handle this overflowing table? Can we create a warning for overflowing tables?

[2022-09-19 09:01] Intelligent2013 commented on #351
@ronaldtse I think the best way is showing a warning. No need to auto-adjust the table width to page width without left/right margins, because user may set the table width a bit wider to fill page left/right margins specially. Currently, mn2pdf shows this message in the log:
[code]
But it looks not useful, because it points to intermediate XSL-FO, but not source table id. So, mn2pdf should be upda

[2022-09-19 11:52] #335 closed

[2022-09-20 02:42] ronaldtse commented on #351
Thank you @Intelligent2013 !

[2022-09-20 02:42] #351 closed

[2022-09-21 00:34] opoudjis commented on #419
Duplicate of https://github.com/metanorma/ogc-GeoPose/issues/6

[2022-09-21 00:34] #419 closed

[2022-09-21 02:51] ronaldtse commented on #419
Refer to [metanorma/ogc-GeoPose#6](https://github.com/metanorma/ogc-GeoPose/issues/6) for the relevant commits.

[2022-09-22 13:12] opoudjis commented on #414
No, @ronaldtse, the problem is not with the flavour  (it's the same parser), the problem is with you insisting that the markup change from `label::` to `identifier::`. OGC-Geopose is using the old `label::` markup, which is no longer recognised, so the requirements parser is not finding an identifier at all, and reverting to the anchor.

Your ongoing willingness to break backward compatibility in

[2022-09-22 13:31] opoudjis commented on #414
[code]

[2022-09-22 13:31] #414 closed

[2022-09-22 13:57] opoudjis commented on #418
I have just cloned https://github.com/metanorma/ogc-2D-Tile-Matrix-Set/ , and run `bundle exec metanorma site generate`. The logo is encoded as a Data URI when I generate the HTML, so I cannot replicate this error, and I strongly suspect this is an installation issue.

I've repeated with `bundle exec metanorma compile --agree-to-terms -t ogc -x xml,html,doc standard/17-083r4.adoc`  in the ogc-2D-T

[2022-09-22 14:47] #422 closed

[2022-09-22 15:16] ghobona commented on #418
@opoudjis @ronaldtse When I checked this morning the issue was still there but now it is fixed.

The [daily builds](https://github.com/opengeospatial/ogcna-auto-review) have the logo embedded as a data-url. I don't know how you fixed it, but it's fixed, thanks!

[2022-09-22 15:17] ghobona commented on #418
You may close this GitHub Issue.

[2022-09-22 15:22] opoudjis commented on #421
mn-requirements assumed that only Recommendation classes could contain other requirements in this way.

[2022-09-22 15:29] opoudjis commented on #421
I'm moving specs back to mn-requirements, the separation of tests from code development is nonsense.

[2022-09-22 15:44] #421 closed

[2022-09-22 16:55] ronaldtse commented on #418
Thank you @ghobona !

[2022-09-22 16:55] #418 closed

[2022-09-23 07:27] ronaldtse opened #428 "Erroneous warning for requirement already linked with conformance test"
Following up #420, the linking validation is not working in the GeoPose document (https://github.com/metanorma/ogc-GeoPose/pull/2).

Warning:
[code]

But clearly the corresponding conformance test exists, and is linked to that requirement:
<img width="706" alt="Screen Shot 2022-09-23 at 3 26 24 PM" src="https://user-images.githubusercontent.com/11865/191910836-5ab2a2be-9f3a-4474-b62a-4264ade79021.

[2022-09-23 07:29] ronaldtse commented on #428
The full list of warnings I'm getting:

[code]

[2022-09-27 11:08] opoudjis commented on #428
Ok, now I'm getting new errors. @ronaldtse I resent being given incomplete specs like this, it is a waste of my time, and therefore your time.

I am forced to assume from the document that an abstract test can but does not need to have a requirement target.

I will add that this such a counterintuitive finding, I'm not going to action it unless you explicitly confirm this.

[2022-09-27 11:19] ronaldtse commented on #428
There is some misunderstanding here. An Abstract test is exactly a conformance test, except that it has an attribute checkbox of "abstract". There is no special case here.

[2022-09-27 11:27] opoudjis commented on #428
Then be prepared for a ton of abstract tests not linked to a requirement.

[2022-09-27 12:43] rob-metalinkage commented on #34
OGC Glossary maintenance needs to be factored into this - the Glossary should be collated automatically from normative content managed through the OGC Naming Authority, which assigns identifiers to concepts.  There are a range of abstract concepts that emerge from more informal processes.

The OGC Glossary is available at http://www.opengis.net/def/glossary and can potentially be delivered in any

[2022-09-27 14:23] opoudjis commented on #428
Requirements: (XML Line 001460): Requirement /req/basic_ypr/target has no corresponding Conformance test
Requirements: (XML Line 001469): Requirement /req/tangent_plane/longitude has no corresponding Conformance test
Requirements: (XML Line 001482): Requirement /req/tangent_plane/latitude has no corresponding Conformance test
Requirements: (XML Line 001495): Requirement /req/tangent_plane/h has no

[2022-09-27 16:05] opoudjis commented on #428
Confirmed as issues:

Requirement /req/orientation/quaternion has no corresponding Conformance test
Requirement /req/orientation/quaternion has no corresponding Conformance test
Requirement /req/chain/transform_index has no corresponding Conformance test
Requirement /req/regular_series/header has no corresponding Conformance test
Requirement /req/series/regular/trailer has no corresponding Conform

[2022-09-27 16:13] opoudjis commented on #428
Remaining errors:

Requirements: (XML Line 001560): Requirement /req/orientation/quaternion has no corresponding Conformance test
Requirements: (XML Line 001661): Requirement /req/orientation/quaternion has no corresponding Conformance test
Requirements: (XML Line 001812): Requirement /req/regular_series/header has no corresponding Conformance test
Requirements: (XML Line 001891): Requirement /req

[2022-09-27 16:41] opoudjis commented on #428
Have needed to use l10n less naively: we do not want to localise colon in isolation, but only as part of a complete string.

[2022-09-28 16:53] gbuehler opened #430 "PDF links wrong for RFCs are in Normative References"
This is output from https://gitlab.ogc.org/ogc/T18-Secure_Asynchronous_Catalogs/-/pipelines/2382

The HTML seems fine, but the PDF Normative References have improper links to only IETF RFC documents.

Text example here (first is non RFC and is correct, second is an RFC and the link is to the relaton data) :

- Open API Initiative: OpenAPI Specification 3.0.2, 2018 https://github.com/OAI/OpenAPISpe

[2022-09-29 04:02] ronaldtse opened #431 "Add example of Metanorma importing bibliographic items from relaton-doi"
Relaton has relaton-doi that allows citing from any DOI/CrossRef item.

We need to ensure that Metanorma can use that information and provide instructions on how to do that.

This was raised during the OGC Metanorma Workshop on 2022-09-28.

[2022-10-01 06:32] ronaldtse commented on #430
@gbuehler thank you for reporting! This is indeed a bug, we should be giving the authoritative link to the RFCs instead. We have those links in the bibliographic data so it's doable.

[2022-10-03 13:41] opoudjis commented on #330
Do you want optional use of title instead of number, or for that to be a per-document option?

[2022-10-04 00:28] cportele commented on #330
Since I was the original source, let me add that I agree, a per-document option would seem right to me, too.

[2022-10-04 01:09] ronaldtse commented on #330
Thanks @cportele !

[2022-10-04 03:12] opoudjis commented on #330
@cportele I'm really sorry it's taken me this long to get to this, but we have a massive backlog

[2022-10-04 03:40] cportele commented on #330
@opoudjis - No worries, fully understood. I appreciate the support.

[2022-10-04 14:33] opoudjis commented on #330
Will do per-document for now, if we need to make it per-reference, it be a specialisation of the per-document solution.

[2022-10-04 15:04] ronaldtse commented on #330
@opoudjis the per-reference solution is necessary. To keep us on the big picture here, references in OGC should utilize clause numbers, but occasionally authors want a link with the full title.

[2022-10-05 10:11] ronaldtse commented on #428
We won't be able to verify this until https://github.com/metanorma/ogc-GeoPose/issues/8 is fixed.

[2022-10-09 10:08] opoudjis commented on #430
@ronaldtse @gbuehler Require access to repository. `[nick.nicholas@ribose.org](https://gitlab.ogc.org/opoudjis)`

[2022-10-09 12:39] opoudjis commented on #430
I cannot replicate with the current version of Metanorma and Relaton. Be aware that infrastructure changes frequently, and the IETF Relaton infrastructure in particular has been overhauled. The PDF and HTML have been copying their references from a common source for several weeks now, so I strongly suspect your gems are out of date.

Current versions of relevant gems are:

[code]

Input:

[code]

[2022-10-09 12:46] opoudjis commented on #330
What Metanorma has implemented to date is `:xrefstyle: short`, https://docs.asciidoctor.org/asciidoc/latest/macros/xref-text-and-style/ . We will support basic and full for sections.

[2022-10-09 15:32] opoudjis commented on #330
I cannot use the `xref:xxxx[xrefstyle=basic]`  macro of Asciidoctor, because its implementation does not pass the xrefstyle attribute back to the parsed document: it resolves it in situ, which means I cannot recover it. So xrefstyle will instead be realised as a `%style` parameter of xref, although I will also capture the xrefstyle document attribute.

[2022-10-10 01:48] ronaldtse commented on #430
@gbuehler could you let us know with the updated versions? Thanks.

[2022-10-10 09:05] ronaldtse opened #433 "Occasionally a requirement does not link against a conformance class with correct encoding"
Somehow this particular one does not validate. Not sure why.

[code]

They are clearly matching though. This seems like a bug for @opoudjis ?

Requirement:
<img width="1107" alt="Screen Shot 2022-10-10 at 3 43 51 PM" src="https://user-images.githubusercontent.com/11865/194819102-b2e0e5e8-b6ab-493b-889e-bb91299dabd4.png">

Conformance test:
<img width="1139" alt="image" src="https://user-images.git

[2022-10-10 12:36] manuelfuenmayor commented on #433
This was a markup issue that is solved now: https://github.com/metanorma/ogc-GeoPose/pull/9#issuecomment-1273212133
Closing.

[2022-10-10 12:36] #433 closed

[2022-10-10 12:41] #330 closed

[2022-10-14 08:26] ghobona opened #434 "Conformance test label in Requirements Class table should be Conformance Class"
This issue is repeated across all Requirements Class tables that are generated by metanorma.

The issue was encountered on 2022-10-14 on a newly pulled docker image of metanorma/metanorma, when compiling the [GeoPose 1.0 document](https://github.com/opengeospatial/geopose).

The word circled in red in the table should say 'class' instead of 'test.

![Screenshot 2022-10-14 at 09 20 21](https://user

[2022-10-14 11:35] ronaldtse commented on #434
Thank you @ghobona , this is indeed a bug. We'll get this handled!

[2022-10-15 03:14] ronaldtse opened #435 "Alignment of presentation for ModSpec instances with ISO"
As approved by @ghobona, we will use a requirement structure that aligns with the ISO/TC 211 presentation of ModSpec.

In the following screenshot:
* the URI will be preceded by a cell that says “Identifier”
* the description will be preceded by a “Description” cell

The “description” field is described differently in a requirement, where the requirement statement will be preceded by the “Statemen

[2022-10-18 13:25] opoudjis commented on #428
You can verify this now.

[2022-10-18 15:16] ronaldtse commented on #428
https://github.com/metanorma/ogc-GeoPose/issues/8 is completed and closed. Thanks @opoudjis !

[2022-10-18 15:16] #428 closed

[2022-10-18 15:57] ronaldtse commented on #435
Just to be clear, this will be applied to:
* Requirements / Perms / Recs
* Requirements class
* Conformance test
* Conformance class

[2022-10-18 16:11] ronaldtse opened #437 "PDF: OGC Requirements table cell alignment broken"
All ModSpec instances are now presented with "centered" alignment in the headings and caption, which is not what we want.

* All table header cells should be left aligned.
* The requirements caption should be left aligned.

Requirements class:
<img width="497" alt="Screen Shot 2022-10-19 at 12 09 45 AM" src="https://user-images.githubusercontent.com/11865/196484909-3e1505cb-1b9a-4b45-beb5-13bfb72c

[2022-10-18 16:13] ronaldtse opened #438 "PDF: ModSpec instance tables need some shading background"
Right now it is impossible to know if a table has ended. Look at this:

<img width="511" alt="Screen Shot 2022-10-19 at 12 12 39 AM" src="https://user-images.githubusercontent.com/11865/196485491-2ed0b05b-3c9e-4149-b4d6-bbdddf2c897b.png">

<img width="501" alt="Screen Shot 2022-10-19 at 12 12 09 AM" src="https://user-images.githubusercontent.com/11865/196485462-cf308557-7346-4ef7-8079-05f3bcfec22d

[2022-10-18 16:16] ronaldtse commented on #434
Confirm this is fixed. Thanks @opoudjis .

<img width="633" alt="Screen Shot 2022-10-19 at 12 16 35 AM" src="https://user-images.githubusercontent.com/11865/196486287-8c473671-3030-427f-bd28-8814bda6ab67.png">

[2022-10-18 16:16] #434 closed

[2022-10-18 17:26] ronaldtse opened #439 "ModSpec conditions: requirements class condition, inheritance condition, requirement part condition"
From Jerome:

One way that we may already be doing that in some cases is by using conditional language directly within specific requirements parts (If [condition] the implementation SHALL [obligations depending on an optional dependency]).

In the example I provided about variable width tile matrix sets and tile matrix set limits, the context when the dependency is optional can be implied from the

[2022-10-18 17:36] ghobona commented on #434
@ronaldtse Please let me know when the fix is available on the metanorma/metanorma docker image.

[2022-10-18 19:01] Intelligent2013 commented on #438
Regarding source design layout:
- tables in the main sections (parent element `sections`) have the smaller font-size than the main text.
- tables in the preface and annex have the font-size as the main text.

In any case, if the table is latest element in the clause, and the last row has white background, then hard to clearly determine that the last row is part of table or not.

@ronaldtse  how wo

[2022-10-18 19:04] Intelligent2013 commented on #437
@opoudjis could you send me the presentation XML, please? The repo https://github.com/metanorma/ogc-modspec doesn't contain the data from the initial post. Thanks.

[2022-10-19 01:20] ronaldtse commented on #438
The font-sizes in tables should be identical regardless where they are located in the document.

Light color please. Thanks!

[2022-10-19 01:20] ronaldtse commented on #438
BTW, the color of the table heading is also messed up right now.

[2022-10-19 06:28] Intelligent2013 commented on #438
@ronaldtse would you like to set blue color for all tables? Currently, blue color is using for Requirements/Recommendations tables only. Earlier, Requirements/Recommendations table headers renders in yellow, but in  'Update OGC branding in PDF output, and change yellow color to `#00b1ff`' https://github.com/metanorma/metanorma-ogc/issues/306 changed to blue.

[2022-10-19 06:34] ronaldtse commented on #438
@Intelligent2013 that's a good point. Can you help select reasonable colors? Thanks.

[2022-10-19 19:50] Intelligent2013 commented on #438
Table header color changed to 'white' for all tables:
![image](https://user-images.githubusercontent.com/5559926/196789149-c9aa3c82-9032-44e6-b85c-11b48802ab8b.png)

[2022-10-20 04:26] ronaldtse commented on #438
@intelligent2013 is the center alignment of the table heading specified in the XML or at the XSLT? The “Requirement” caption should probably be left aligned?

[2022-10-20 09:04] Intelligent2013 commented on #438
In the presentation XML there isn't the text alignment attributes:
[code]
By default in XSLT, the text in the table header (`th`) displays centered.
[code]

I can add a special condition for `class="modspec"` for display left aligned text.

HTML (https://metanorma.github.io/mn-samples-ogc/documents/18-095r7/document.html#toc13) displays the centered header also:
![image](https://user-images.github

[2022-10-20 09:11] Intelligent2013 commented on #438
Text alignment issue relates to https://github.com/metanorma/metanorma-ogc/issues/437.

[2022-10-20 13:00] opoudjis commented on #437
Sent.

[2022-10-20 16:39] Intelligent2013 commented on #437
OGC XSLT updated:
- `th` left aligned by default
- table header height increased a bit, now renders as normal table row
- font size for `tt` decreased in the table

![image](https://user-images.githubusercontent.com/5559926/197007274-0caedf3e-6c8a-49f6-b06a-42d53261047d.png)
![image](https://user-images.githubusercontent.com/5559926/197007383-d2a3c2e8-a40c-46a5-9fef-20cb9e456faf.png)

[2022-10-20 16:43] Intelligent2013 commented on #364
Completed half-year ago.

[2022-10-20 16:43] #364 closed

[2022-10-21 07:17] ghobona opened #442 "(URGENT) Add document type of "Draft Standard""
@ronaldtse Could you please make the following enhancement to the metanorma-ogc template?

OGC [policies](http://docs.opengeospatial.org/pol/05-020r27/05-020r27.html#the-two-track-standards-process-characteristics) allow for two types of draft standards:

* a draft standard that is in work. For the purpose of this message, let's call it a **Draft Standard** document.
* a draft standard that has be

[2022-10-21 09:40] ronaldtse commented on #442
@ghobona and @gbeuhler I would like to clarify, that right now we have these stages listed here:
https://www.metanorma.org/author/ogc/ref/document-attributes/

<img width="790" alt="Screen Shot 2022-10-21 at 5 38 26 PM" src="https://user-images.githubusercontent.com/11865/197165226-16bf8874-f386-469f-ab64-8a3897e3c67d.png">

And this particular table that indicates the sequence of stages:
<img wid

[2022-10-21 10:01] ghobona commented on #442
With reference to Table 1 above, it's a new stage which sits between tc-vote and approved (published).

[2022-10-21 11:11] #435 closed

[2022-10-21 12:09] ogcscotts commented on #442
not exactly: a Draft Standard is a document type just like a Standard or a Abstract Specification Topic. It is not a stage at all.

[2022-10-21 17:22] ronaldtse commented on #442
@ogcscotts Is “Draft Standard” meant to be the equivalent of the DIS stage at ISO? In ISO, it is implemented as a stage, so when a document progresses from DIS to IS, it is just a stage progression.

[2022-10-21 17:24] ogcscotts commented on #442
@ronaldtse no, per our policies a Standard that has no compliance tests nor reference implementations is approved as a Draft Standard (only applies to the past few years). It is a final stage, but "uplift" can occur to a Standard once there is the evidence for implementation against tests.

[2022-10-22 03:49] ronaldtse commented on #442
@ogcscotts Aha, so it's something like a "Technical Specification" in ISO where it is a different document type that can be uplifted/upgraded to a Standard. I have to say that the nomenclature is a rather confusing... perhaps that could be reflected to the PC one day... 😉

[2022-10-22 03:51] ronaldtse commented on #442
@ogcscotts can we also confirm the document stages that happen to the "Draft Standard"?

Does it go through the same stages as a Standard? i.e.:
* draft
* work-item-draft
* swg-draft
* oab-review
* public-rfc
* tc-vote
* approved (published)
* deprecated
* rescinded
* retired

Or are certain stages omitted?

[2022-10-22 14:31] ogcscotts commented on #442
@ronaldtse all of the same stages are used in a Draft Standard. As to the name, I think there were 18 months of debate in the TC and PC, but we ultimately settled on DRAFT as all other options seemed artificial!

[2022-10-24 03:45] ronaldtse commented on #442
@ogcscotts thank you for the clarification, does this diagram reflect the correct flow?
![ogc-doctype-pub-process](https://user-images.githubusercontent.com/11865/197444642-8bcf7f85-1490-482c-a539-93fd989c3667.svg)

[2022-10-24 14:03] ogcscotts commented on #442
@ronaldtse Great diagram! Yes, this is correct for Standards. Once note: Best Practices and Community Practices have a public RFC and can also be deprecated or rescinded. These two documents do not go to the OAB. I know, complex!

[2022-10-24 14:55] ronaldtse commented on #442
Does this reflect the full flow? We will need to update the allowed stages for Best Practice and Community Practice then.
![OGC publication process flow-2](https://user-images.githubusercontent.com/11865/197557395-3bb2b7a0-ad81-4160-8248-452525b9e746.svg)

[2022-10-24 15:00] ogcscotts commented on #442
@ronaldtse yes, with a minor change to call the first step for a Best/Community Practice document a "draft" as it is not a Work Item. As a heads up, the new propose Policies for OGC include two types of deprecated Standards. The second type will be "Legacy." I think from a logic standpoint, both can be represented by "Deprecated" and the tag chosen at time of status change. Also... there is no ord

[2022-10-24 15:14] ronaldtse commented on #442
@ogcscotts updated: will this work? (Not including the Legacy standard yet)
![OGC publication process flow-3](https://user-images.githubusercontent.com/11865/197561807-629566a9-42ac-40cb-87a7-2c183a35f2fb.svg)

I have a question on the Legacy. Can all document types become Legacy? Or only certain types?

[2022-10-24 15:16] ogcscotts commented on #442
@ronaldtse perfect!

[2022-10-24 15:39] ronaldtse commented on #442
@opoudjis this issue is ready for action. This task calls for:

1. Addition of a document type (`doctype`): "Draft Standard", with value `draft-standard`.
2. For `draft-standard`, allow these stages:
    * swg-draft
    * oab-review
    * public-rfc
    * tc-vote
    * approved (published)
    * deprecated
    * rescinded
    * retired
3. Implement updated layout as described by @ghobona / @gbuehl

[2022-10-24 15:40] ronaldtse opened #443 "Update stages for OGC Best Practice and Community Practice"
From @ogcscotts:

Best Practices and Community Practices have a public RFC and can also be deprecated or rescinded. These two documents do not go to the OAB.

The diagram illustrates this:
![OGC publication process flow](https://user-images.githubusercontent.com/11865/197561807-629566a9-42ac-40cb-87a7-2c183a35f2fb.svg)

So for `best-practice` and `community-practice`, they have these stages:
* `dr

[2022-10-24 15:45] ronaldtse commented on #443
@ogcscotts could you help confirm that for these two document types, the status `retired` cannot be assigned to it?

[2022-10-24 15:57] ogcscotts commented on #443
@ronaldtse yes, they can be retired

[2022-10-24 16:57] ronaldtse commented on #443
Thanks!

[2022-10-25 03:57] ronaldtse opened #444 "(under discussion) Add "deprecated Standard type" of "Legacy""
From @ogcscotts :

As a heads up, the new propose Policies for OGC include two types of deprecated Standards. The second type will be "Legacy." I think from a logic standpoint, both can be represented by "Deprecated" and the tag chosen at time of status change. Also... there is no order to Deprecated, Rescinded, or Retired: a document can jump directly to any status. Each can be an end-state.

_Or

[2022-10-25 03:58] ronaldtse commented on #444
@ogcscotts would the flow look like this?

![OGC publication process flow - with-legacy-flow](https://user-images.githubusercontent.com/11865/197678917-fc53c8d5-0fc4-45cd-9e46-c74836b6a555.svg)

[2022-10-26 14:22] opoudjis opened #445 "New document type of draft-standard"
Follow-on from https://github.com/metanorma/metanorma-ogc/issues/442

Apart from the text "Draft Standard" instead of "Standard", this is rendered identically to Standard.

[2022-10-26 14:27] opoudjis commented on #442
Pending creation of draft-standard XSLT stylesheet.

[2022-10-26 16:41] Intelligent2013 commented on #445
https://github.com/metanorma/metanorma-ogc/blob/main/lib/isodoc/ogc/ogc.draft-standard.xsl added.

[2022-10-26 16:41] #445 closed

[2022-10-27 12:45] ghobona commented on #442
@ronaldtse Please let @gbuehler know when metanorma-ogc has been updated with the enhancement.

[2022-10-27 14:15] ronaldtse commented on #442
@ghobona @gbuehler the code is updated but the next scheduled version release is in 2 weeks. To use this functionality please use the Git version.

In addition, we do not have a sample document/template for Draft Standard. Could you please help provide some content? Thanks!

[2022-11-01 01:36] ronaldtse opened #449 "Fix behavior of `toclevels` to apply to all output formats, and provide per-output-type toc levels"
In contrast with documentation at https://www.metanorma.org/author/ref/document-attributes/:

<img width="693" alt="image" src="https://user-images.githubusercontent.com/11865/199139527-a7ff6c2f-d709-4818-98bc-845b21b7a874.png">

`toclevels` controls the PDF TOC levels only, and does not affect HTML or DOC outputs.
`htmltoclevels` controls the HTML TOC levels.
`doctoclevels` controls the DOC TOC l

[2022-11-01 01:39] ronaldtse opened #450 "HTML: TOC at the 4-th level not rendering correctly"
The 4th level TOC entries are rendered back at the first level.

<img width="358" alt="Screen Shot 2022-11-01 at 9 19 51 AM" src="https://user-images.githubusercontent.com/11865/199139894-5662499b-38be-4c01-a17b-909651728c1c.png">

To reproduce, add `:htmltoclevels: 4`.

Document: https://github.com/opengeospatial/CoverageJSON

[2022-11-01 01:40] ronaldtse opened #451 "Word: TOC at the 4-th level not rendering correctly"
The 4th level TOC entries are rendered back at the first level in appearance.

<img width="939" alt="Screen Shot 2022-11-01 at 9 20 31 AM" src="https://user-images.githubusercontent.com/11865/199140068-0a4f0704-5474-46c3-9daf-08f44e3b3001.png">

To reproduce, add `:doctoclevels: 4`.

Document: https://github.com/opengeospatial/CoverageJSON

[2022-11-01 01:41] ronaldtse commented on #449
Would `toclevels-html` and `toclevels-doc`  etc be more reasonable? We do have different output formats for other flavors.

[2022-11-02 10:33] #443 closed

[2022-11-06 14:09] opoudjis commented on #430
@gbuehler please verify with the updated version of Metanorma. This issue has been pending response from you for the past month.

[2022-11-09 07:12] opoudjis commented on #450
No provision in HTML CSS for ToC indentation past h3. Will need to rectify throughout Metanorma.

[2022-11-09 07:14] #450 closed

[2022-11-09 07:18] opoudjis commented on #451
Fourth-level ToC only defined in Word stylesheet for those flavours that had it defined in their native Word template: IEC, ITU, IEEE. For the remainder, will need to provide TOC levels 4-6, with additional idnent.

[2022-11-09 12:18] opoudjis commented on #449
toclevels not being passed on from metanorma gem

[2022-11-09 12:19] #449 closed

[2022-11-09 12:20] opoudjis commented on #449
Defer.

[2022-11-09 12:24] ronaldtse opened #454 "Change TOC level per format specification to `toclevels-*` from `*-toclevels`"
Instead of:

`html-toclevels` and `doc-toclevels`, we will have `toclevels-html` and `toclevels-doc`.

_Originally posted by @opoudjis in https://github.com/metanorma/metanorma-ogc/issues/449#issuecomment-1308670212_

[2022-11-10 12:13] opoudjis commented on #451
Need to insert style names into all ToC, else if using language other than English, ToC styled names will be ignored when ToC is updated.

[2022-11-10 12:30] #451 closed

[2022-11-10 15:23] opoudjis commented on #431
Need to call relaton-doi from Metanorma with DOI prefix.

[2022-11-10 15:32] ronaldtse commented on #431
Make it an actionable ticket in relaton-doi?

[2022-11-10 15:44] ronaldtse commented on #431
@andrew2net , @opoudjis wants these features to be able to integrate:

* https://github.com/relaton/relaton-doi/issues/4
* https://github.com/relaton/relaton-doi/issues/5

[2022-11-14 15:15] opoudjis commented on #356
@ghobona We cannot action this ticket without a response as to whether this change applies to documents created only from this point forward, or retrospectively as well. Please respond.

[2022-11-22 02:14] opoudjis commented on #430
We cannot replicate the issue, and the issue reflects a bug that had been fixed several months ago, so we believe it has been solved, and will be addressed by updating software (and clearing relaton cache: delete contents of ~/.relaton if needed).

Closing ticket. @gbuehler If the issue persists, please reopen the ticket.

[2022-11-22 02:14] #430 closed

[2022-11-24 13:41] jechterhoff opened #460 "source blocks - no line numbers"
The metanorma compiler does not appear to support line numbers on source blocks.

I’ve prepared a test case. See [test.zip](https://github.com/metanorma/metanorma-ogc/files/10084983/test.zip). The folder contained in the archive was copied from the OGC templates repository on GitHub, for Best Practice document, and renamed to “test”.

You can see the issue in document.html, section 7.1.1, where I’

[2022-11-24 13:46] jechterhoff opened #461 "source blocks always numbered as figures - any way to achieve a different category?"
Short version: It looks like source blocks are always numbered as figures by metanorma. I would like to number them as listings.

Long version: As documented at https://www.metanorma.org/author/topics/document-format/text/#unnumbered-elements: _"Sourcecode and pseudocode snippets are by default numbered as figures"_. The only way to suppress that would be to use the `%unnumbered` option attribute.

[2022-11-27 05:42] ronaldtse commented on #461
@jechterhoff Thank you for the suggestion!

While we are always open to feedback, please understand that Metanorma is a standardized content model used by SDOs, is *tightly tied to requirements of the SDOs* and does not allow exceptions.

In the case of the OGC standards authoring format, OGC does not have a document element called "Listing". For authoring rules that are not defined at OGC, it ado

[2022-11-28 07:04] jechterhoff commented on #461
@ronaldtse Sure, I understand that the category would have to be "officially" recognized by SDOs. To me, it feels alien to mark a source code block as "Figure".

@ghobona: What is the position of OGC in this matter?

[2022-11-30 12:57] ghobona commented on #461
[OGC Editorial guidance](https://github.com/opengeospatial/templates/blob/master/editor_guidance.adoc) does not currently mention Listings, so I have created a [GitHub Issue](https://github.com/opengeospatial/templates/issues/37) in the relevant repository for the issue to be discussed and resolved.

[2022-11-30 20:37] #438 closed